@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@CaregiverLite.Views.Resources.Layout.TitleCareGiver</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS START -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="~/Content/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/dataTables.responsive.css" rel="stylesheet">
    <link href="~/Content/css/dataTables.tableTools.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/chosen.css" rel="stylesheet">
    <link href="~/Content/css/switchery.css" rel="stylesheet">
    <link href="~/Content/css/fullcalendar.css" rel="stylesheet">
    <link href="~/Content/css/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/fullcalendar.print.css" rel='stylesheet' media='print'>
    @*@System.Web.Optimization.Styles.Render("~/Content/CommanCss")*@

    @System.Web.Optimization.Scripts.Render("~/bundles/CommanJs")
    <script src="~/Scripts/js/toastr.js"></script>
    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <script src="~/Scripts/QuickBlox/quickblox.min.js"></script>
    <style>
        #toast-container > div.toast-info {
            background-image: none !important;
        }

        #toast-container > div.toast-error {
            background-image: none !important;
        }

        #toast-container > div.toast-warning {
            background-image: none !important;
        }
    </style>


</head>
<script type="text/javascript">










    var sFromQBId = "@Session["FromQBId"]";
    var DialogIds = [];
    var DialogIdsArray = [];

    var GroupDialogIds = [];
    var GroupDialogIdsArray = [];

    var cnt = 0;
    var unreadMsgCount = 0;
    var unreadMsgCountForGroup = 0;

    var varGlobal = "";
    var ChatDatatable;
    var ooTable;
    var groupDataTable;
    var idleTime = 0;

    var TotalunreadMsgCount = 0;

    var TotalunreadGroupMsgCount = 0;

    var TotalunreadCommonGroupMsgCount = 0;

    var IsFirstTimeLoadChat = 1;

    var IsFirstTimeLoadPatientGroupChat = 1;

    var IsFirstTimeLoadGroupChat = 1;


    $(document).ready(function () {


        FetchAllDialogIds();
        FetchAllGroupDialogIds();

        if('@Session["Role"]' == 'NurseCoordinator' || '@Session["Role"]' == 'Nurse')
        {
            // HidePatientChatRoom();

            ChatPermission();
        }

        //Time Out Functionality Start
        //Increment the idle time counter every minute.
        idleInterval= setInterval(timerIncrement, 60000); // 1 minute
        //Zero the idle timer on mouse movement.
        $(this).bind( "mousemove click keypress",function (e) {
            idleTime = 0;
        });
        //Time Out Functionality End

        $('#loading').show();
        var url = window.location;
        $('.nav').find('.active').removeClass('active');
        $('.nav li a').each(function () {
            if (this.href == url) {
                $(this).parent().addClass('active');
            }
        });
        $('#loading').hide();

        window.setInterval(function () {
            /// call your function here
            var today = new Date();
            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date + ' ' + time;

            getUnreadMessageCountV1();
          //  FetchAllDialogIds();
          //  FetchAllGroupDialogIds();
        }, 1000 * 20);

        //QuickBlox start
        QB.init(@System.Web.Configuration.WebConfigurationManager.AppSettings["QuickbloxApp_Id"],
              "@System.Web.Configuration.WebConfigurationManager.AppSettings["QuickbloxAuth_Key"]",
              "@System.Web.Configuration.WebConfigurationManager.AppSettings["QuickbloxAuth_Secret"]",
              true);
        CreateSession();

        function CreateSession() {
            //START CREATE SESSION
            QB.createSession(function (err, result) {
                //debugger;

                if (err) {
                    //debugger;
                    //alert(err.message);
                } else {
                    //alert("Session Token- " + result.token);
                    sessionStorage.setItem("sToken", result.token);

                    if (sFromQBId == '0') {
                        RegisterNewUser("@Session["FromUserEmail"]", "@Session["LoginUserUserId"]");
                    }
                    else {
                        var user = {
                            id: sFromQBId,
                            login: "@Session["FromUserEmail"]",
                            password: "Welcome007!"
                        };

                        QB.createSession({ login: user.login, password: user.password }, function (err, result) {
                            if (err) {
                                //debugger;
                                alert(err.message);
                            } else {
                                //alert("Session Token- " + result.token);
                                sessionStorage.setItem("sToken", result.token);
                               // FetchAllDialogIds();
                               // FetchAllGroupDialogIds();
                                getUnreadMessageCountV1();
                            }
                        });
                    }
                }
            });
            //END CREATE SESSION
        }

        //FETCH ALL DIALOG START
        function FetchAllDialogIds() {

            var user = {
                id: sFromQBId,
                login: "@Session["FromUserEmail"]",
                password: "Welcome007!"
            };
            var url = INITURL + '/Chatting/GetAllDialogId';

            $.ajax({
                url: url,
                cache: false,
                type: 'POST',
                async: false,
                success: function (data) {

                    try{
                        // debugger;
                        var len = data.objChattingsList.length;
                        if (len > 0) {
                            DialogIds = [];
                        }
                        for (i = 0; i < len ; i++) {
                            DialogIds.push({ UserId: data.objChattingsList[i].UserId, QuickBloxDialogId: data.objChattingsList[i].QuickBloxDialogId });

                        }

                        //    debugger;
                    }catch(e){}

                },
                error: function (reponse) {
                    //alert("error : " + reponse);
                    $("#loading").hide();
                }
            });
        }

        //FETCH ALL DIALOG END


        //FETCH ALL GROUP DIALOG START
        function FetchAllGroupDialogIds() {

            var user = {
                id: sFromQBId,
                login: "@Session["FromUserEmail"]",
                password: "Welcome007!"
            };
            var url = INITURL + '/Chatting/GetAllGroupDialogId';

            $.ajax({
                url: url,
                cache: false,
                type: 'POST',
                async: false,
                success: function (data) {

                    try{
                        var len = data.objChattingsList.length;
                        if (len > 0) {
                            GroupDialogIds = [];
                        }
                        for (i = 0; i < len ; i++) {
                            GroupDialogIds.push({ ChattingGroupId: data.objChattingsList[i].ChattingGroupId, GroupDialogId: data.objChattingsList[i].DialogId, GroupTypeId: data.objChattingsList[i].GroupTypeId });
                        }
                    }catch(e)
                    {}

                },
                error: function (reponse) {
                    //alert("error : " + reponse);
                    $("#loading").hide();
                }
            });
        }


        function showMessage(sFromQBId, msg) {
            // debugger;
            console.log('userId sent you this msg');
            alert(msg);

            //notify sender: message was read:
            //if(userId != "MY-USER") {
            //    sendReadSignalToSender(msg, userId);
            //    console.log("You notified userId that his msg was read.");
            //   }
        }

        QB.chat.onMessageListener = showMessage;




        var UnreadCountResponse =[];
        var NormalUnreadCountResponse =[];
        var apiCallCount=0;
        var NormalapiCallCount=0;


        var test= function testing()
        {
            alert("test");
        };

        var getAllDialogs = function(params) {
            //debugger;
            QB.chat.dialog.list({
                skip: params && params.skip || 0,
                limit: params && params.limit || 100
            }, function(error, response) {
                if (error) {
                    //   debugger;
                    return false;
                }
                //  debugger;
                var dialogs = response.items

                //if(localStorage.getItem('QBChattingResponse') == null)
                //{
                //    localStorage.setItem('QBChattingResponse', JSON.stringify(dialogs));

                //    if(dialogs.length < 100)
                //    {
                //        localStorage.setItem('QBres', JSON.stringify(dialogs));
                //    }
                //}
                //else
                //{
                //    var res =  JSON.parse(localStorage.getItem('QBChattingResponse'));

                //    var res2  =  $.merge( $.merge( [], res ), dialogs );

                //    localStorage.setItem('QBres', JSON.stringify(res2));
                //}


                if(localStorage.getItem('QBres') == null)
                {
                    localStorage.setItem('QBres', JSON.stringify(dialogs));

                }
                else
                {
                    var res =  JSON.parse(localStorage.getItem('QBres'));

                    var res2  =  $.merge( $.merge( [], res ), dialogs );

                    localStorage.setItem('QBres', JSON.stringify(res2));
                }
                //debugger;
                for (var k in dialogs) {

                    //  debugger;
                    var dialog = dialogs[k];

                    // debugger;

                    for(var x=0;x<DialogIds.length;x++)
                    {


                        if(DialogIds[x].QuickBloxDialogId == dialog._id)
                        {
                            counterV1 += dialog.unread_messages_count;
                            //  debugger;
                        }
                    }


                    for(var z=0;z<GroupDialogIds.length;z++)
                    {

                        //    if(DialogIdsArray[x] == dialog._id)
                        if(GroupDialogIds[z].GroupDialogId == dialog._id)
                        {


                            if(GroupDialogIds[z].GroupTypeId == 1)
                            {
                                counterGroupV1 += dialog.unread_messages_count;
                            }
                            else
                            {
                                counterGroupV2 += dialog.unread_messages_count;
                            }

                        }


                    }
                    //  console.log('Dialog (' + dialog._id + ') has ' + dialog.unread_messages_count + ' uread messages');
                }

				
               // $("#totNotification").text(counterV1);

               // $("#totGroupNotification").text(counterGroupV1);

              //  $("#totCommonGroupNotification").text(counterGroupV2);

                var totalEntries = response.total_entries,
                localEntries = response.limit + response.skip;
				
				if(totalEntries <= localEntries)
				{
                $("#totNotification").text(counterV1);

                $("#totGroupNotification").text(counterGroupV1);

                $("#totCommonGroupNotification").text(counterGroupV2);

				}

                if (totalEntries >= localEntries) {
                    getAllDialogs({
                        skip: localEntries
                    });
                }
                else
                {


                    localStorage.removeItem("QBChattingResponse");

                    if(IsFirstTimeLoadChat)
                    {
                        IsFirstTimeLoadChat = 0
                        SortData();

                    }
                    if(counterV1 != TotalunreadMsgCount)
                    {
                        SortData();
                    }
                    if(counterV1 > TotalunreadMsgCount)
                    {
                        TotalunreadMsgCount = counterV1;

                        $('#lblMessageCount').animate({
                            'height': '50px',
                            'width': '50px',
                            'padding-top': '20px',
                            'font-size': '25px'

                        });
                        //  toastr.success("New Message Arrived");

                        $('#lblMessageCount').animate({
                            'height': '17px',
                            'width': '20px',
                            'padding-top': '2px',
                            'font-size': '10px'
                        });

                        //   SortData();

                        try {
                            var audio = new Audio();
                            audio.src = '/Audio/sound.wav';
                            var playPromise = audio.play();
                            if (playPromise !== undefined) {
                                playPromise.then(function () {
                                    // Automatic playback started!
                                }).catch(function (error) {
                                    // Automatic playback failed.
                                    // Show a UI element to let the user manually start playback.
                                });
                            }
                        }
                        catch (e) {
                            alert(e);
                        }

                    }


                    if(IsFirstTimeLoadPatientGroupChat)
                    {
                        IsFirstTimeLoadPatientGroupChat = 0
                        SortDataForGroupChat();
                    }

                    if(counterGroupV1 != TotalunreadGroupMsgCount)
                    {
                        SortDataForGroupChat();
                    }
                    if(counterGroupV1 > TotalunreadGroupMsgCount)
                    {
                        //debugger;
                        // SortDataForGroupChat();
                        TotalunreadGroupMsgCount = counterGroupV1;

                        $('#lblGroupMessageCount').animate({
                            'height': '50px',
                            'width': '50px',
                            'padding-top': '20px',
                            'font-size': '25px'

                        });
                        //  toastr.success("New Message Arrived");

                        $('#lblGroupMessageCount').animate({
                            'height': '17px',
                            'width': '25px',
                            'padding-top': '2px',
                            'font-size': '10px'
                        });


                        try {
                            var audio = new Audio();
                            audio.src = '/Audio/sound.wav';
                            var playPromise = audio.play();
                            if (playPromise !== undefined) {
                                playPromise.then(function () {
                                    // Automatic playback started!
                                }).catch(function (error) {
                                    // Automatic playback failed.
                                    // Show a UI element to let the user manually start playback.
                                });
                            }
                        }
                        catch (e) {
                            alert(e);
                        }
                    }

                    //*******************************************************

                    //	SortDataForCommonGroupChat();
                    if(IsFirstTimeLoadGroupChat)
                    {
                        IsFirstTimeLoadGroupChat = 0
                        SortDataForCommonGroupChat();
                    }
                    if(counterGroupV2 != TotalunreadCommonGroupMsgCount)
                    {
                        SortDataForCommonGroupChat();
                    }
                    if(counterGroupV2 > TotalunreadCommonGroupMsgCount)
                    {
                        // debugger;
                       // SortDataForCommonGroupChat();
                        TotalunreadCommonGroupMsgCount = counterGroupV2;

                        $('#lblCommonGroupMsgCount').animate({
                            'height': '50px',
                            'width': '50px',
                            'padding-top': '20px',
                            'font-size': '25px'

                        });
                        //  toastr.success("New Message Arrived");

                        $('#lblCommonGroupMsgCount').animate({
                            'height': '17px',
                            'width': '20px',
                            'padding-top': '2px',
                            'font-size': '10px'
                        });


                        try {
                            var audio = new Audio();
                            audio.src = '/Audio/sound.wav';
                            var playPromise = audio.play();
                            if (playPromise !== undefined) {
                                playPromise.then(function () {
                                    // Automatic playback started!
                                }).catch(function (error) {
                                    // Automatic playback failed.
                                    // Show a UI element to let the user manually start playback.
                                });
                            }
                        }
                        catch (e) {
                            alert(e);
                        }
                    }

                    //***************************

                }
            });
        }
        ////End


        function getUnreadMessageCountV1() {

            DialogIdsArray = [];
            var arr = [];

            if (DialogIds.length > 0 || GroupDialogIds.length > 0) {
                for (var j1 = 0; j1 < DialogIds.length ; j1++) {//For Loop Start
                    DialogIdsArray.push(DialogIds[j1].QuickBloxDialogId);
                }
                try {

                    var varNurseID = 0;
                    var params = { chat_dialog_ids: DialogIdsArray };
                    //  debugger;

                    //test();

                    counterV1 = 0;

                    counterGroupV1 = 0;

                    counterGroupV2 = 0;

                    localStorage.removeItem("QBres");

                    getAllDialogs(params);


                    if (localStorage.getItem('chatting_data') == null) {
                        //  setChattingListV1();
                    }

                } catch (e) {
                    //alert(e);
                }
            }
        }

        // **********************************************************************



        //  FOR GET CHATTINGLIST ORDER BY TIME
        function setChattingList() {
            //   debugger;
            //debugger;
            try {
                // $('#loading').show();
                $.ajax({
                    url: "@Url.Action("GetChattingList", "Chatting")",
                    type: 'POST',
                    async: false,
                    data: jQuery.param({ sEcho: "1", iDisplayStart: "0", iDisplayLength: "200", iSortCol_0: "2", sSortDir_0: "asc", sSearch: "", iColumns: "3" }),
                    success: function (response) {
                        localStorage.setItem('local_chatting_data', JSON.stringify(response));
                    },
                    error: function (error) {
                        throw error;
                    }
                });

            } catch (e) {
                //  $('#loading').hide();

            }

            //   debugger;
            QB.chat.dialog.list(null, function (err, dialogs) {
                //      debugger;

                if (err) {
                    console.log("Server Error_No user online")
                }
                else {

                    //-----
                    var testdata = JSON.parse(localStorage.getItem('local_chatting_data'));
                    var dataSource = testdata.aaData;
                    //debugger;
                    for (var d = 0; d < dialogs.items.length; d++) {
                        var dt;
                        dt = dialogs.items[d].last_message_date_sent;
                        count = dialogs.items[d].unread_messages_count;
                        try{
                            for (var x = 0; x < dataSource.length; x++) {
                                if (dialogs.items[d]._id == dataSource[x].QuickBloxDialogId) {
                                    dataSource[x]["Time"] = dt;
                                    dataSource[x]["unreadMsgCount"] = count;
                                }
                            }
                        }catch(e){}
                    }
                    var sortData = dataSource.sort(function (a, b) { return b.Time - a.Time });
                    localStorage.setItem('chatting_data', JSON.stringify(sortData));


                }
            });

        }
        //  FOR GET CHATTINGLIST ORDER BY TIME END


        function setChattingListV1() {
            // debugger;
            //debugger;
            try {
                // $('#loading').show();
                $.ajax({
                    url: "@Url.Action("GetChattingList", "Chatting")",
                    type: 'POST',
                    async: false,
                    data: jQuery.param({ sEcho: "1", iDisplayStart: "0", iDisplayLength: "200", iSortCol_0: "2", sSortDir_0: "asc", sSearch: "", iColumns: "3" }),
                    success: function (response) {
                        localStorage.setItem('local_chatting_data', JSON.stringify(response));
                    },
                    error: function (error) {
                        throw error;
                    }
                });

            } catch (e) {
                //  $('#loading').hide();

            }

            var dialogs = JSON.parse(localStorage.getItem('QBres'));
            var testdata = JSON.parse(localStorage.getItem('local_chatting_data'));
            var dataSource = testdata.aaData;
            //debugger;
            for (var d = 0; d < dialogs.length; d++) {
                var dt;
                dt = dialogs[d].last_message_date_sent;
                count = dialogs[d].unread_messages_count;
                try{
                    for (var x = 0; x < dataSource.length; x++) {
                        if (dialogs[d]._id == dataSource[x].QuickBloxDialogId) {
                            dataSource[x]["Time"] = dt;
                            dataSource[x]["unreadMsgCount"] = count;
                        }
                    }
                }catch(e){}
            }

            //  debugger;
            var sortData = dataSource.sort(function (a, b) { return b.Time - a.Time });

            //    debugger;
            localStorage.setItem('chatting_data', JSON.stringify(sortData));




        }



        function SortData()
        {
            //  debugger;
            if(localStorage.getItem('local_chatting_data') != null)
            {
                var dialogs = JSON.parse(localStorage.getItem('QBres'));
                var testdata = JSON.parse(localStorage.getItem('local_chatting_data'));
                var dataSource = testdata.aaData;
                //debugger;
                for (var d = 0; d < dialogs.length; d++) {
                    var dt;
                    dt = dialogs[d].last_message_date_sent;
                    count = dialogs[d].unread_messages_count;
                    try{
                        for (var x = 0; x < dataSource.length; x++) {
                            if (dialogs[d]._id == dataSource[x].QuickBloxDialogId) {
                                dataSource[x]["Time"] = dt;
                                dataSource[x]["unreadMsgCount"] = count;
                            }
                        }
                    }catch(e){}
                }

                //  debugger;
                var sortData = dataSource.sort(function (a, b) { return b.Time - a.Time });

                //    debugger;
                localStorage.setItem('chatting_data', JSON.stringify(sortData));


                //  debugger;
                var datatable = ChatDatatable;
                if(datatable){
                    datatable.clear().draw();
                    datatable.rows.add(sortData);
                    // Add new data
                    datatable.columns.adjust().draw();
					
					 $('#ddlOfficeDropDownList').val(0);
                }
            }
        }



        function SortDataForGroupChat()
        {
            //   debugger;
            if(localStorage.getItem('local_group_chatting_data') != null)
            {

                var dialogs = JSON.parse(localStorage.getItem('QBres'));
                var testdata = JSON.parse(localStorage.getItem('local_group_chatting_data'));
                var dataSource = testdata.aaData;
                //debugger;
                try{
                    for (var d = 0; d < dialogs.length; d++) {
                        var dt;
                        dt = dialogs[d].last_message_date_sent;
                        count = dialogs[d].unread_messages_count;

                        for (var x = 0; x < dataSource.length; x++) {
                            if (dialogs[d]._id == dataSource[x].DialogId) {
                                dataSource[x]["Time"] = dt;
                                dataSource[x]["unreadMsgCount"] = count;
                            }
                        }
                    }


                    ////-----
                }catch(e){}

                var sortData1 = dataSource.sort(function (a, b) { return b.Time - a.Time });
                localStorage.setItem('group_chatting_data', JSON.stringify(sortData1));

                var datatable = ooTable;
                if(datatable){
                    datatable.clear().draw();
                    datatable.rows.add(sortData1);
                    // Add new data
                    datatable.columns.adjust().draw();
					
					  $('#ddlOfficeDropDownList').val(0);
                }

            }
        }


        function SortDataForCommonGroupChat()
        {
            //   debugger;
            if(localStorage.getItem('local_group_chat_data_2') != null)
            {

                var dialogs = JSON.parse(localStorage.getItem('QBres'));
                var testdata = JSON.parse(localStorage.getItem('local_group_chat_data_2'));
                var dataSource = testdata.aaData;
                //debugger;
                try{
                    for (var d = 0; d < dialogs.length; d++) {
                        var dt;
                        dt = dialogs[d].last_message_date_sent;
                        count = dialogs[d].unread_messages_count;

                        for (var x = 0; x < dataSource.length; x++) {
                            if (dialogs[d]._id == dataSource[x].DialogId) {
                                dataSource[x]["Time"] = dt;
                                dataSource[x]["unreadMsgCount"] = count;
                            }
                        }
                    }


                    ////-----
                }catch(e){}

                var sortData1 = dataSource.sort(function (a, b) { return b.Time - a.Time });
                localStorage.setItem('group_chatting_data_2', JSON.stringify(sortData1));

                var datatable = groupDataTable;
                if(datatable){
                    datatable.clear().draw();
                    datatable.rows.add(sortData1);
                    // Add new data
                    datatable.columns.adjust().draw();
					
					$('#ddlOfficeDropDownList').val(0);
                }

            }
        }









        //  FOR GET GROUP CHATTINGLIST ORDER BY TIME
        function setGroupChattingList() {
            //debugger;
            try {
                // $('#loading').show();
                $.ajax({
                    url: "@Url.Action("GetChattingListPatientGroupWise", "Chatting")",
                    type: 'POST',
                    async: false,
                    data: jQuery.param({ sEcho: "1", iDisplayStart: "0", iDisplayLength: "200", iSortCol_0: "2", sSortDir_0: "asc", sSearch: "", iColumns: "3" }),
                    success: function (response) {
                        localStorage.setItem('local_group_chatting_data', JSON.stringify(response));
                    },
                    error: function (error) {
                        throw error;
                    }
                });

            } catch (e) {
                //  $('#loading').hide();

            }
            QB.chat.dialog.list(null, function (err, dialogs) {

                if (err) {
                    //console.log("Server Error_No user online")
                }
                else {


                    var testdata = JSON.parse(localStorage.getItem('local_group_chatting_data'));
                    var dataSource = testdata.aaData;
                    //debugger;
                    try{
                        for (var d = 0; d < dialogs.items.length; d++) {
                            var dt;
                            dt = dialogs.items[d].last_message_date_sent;
                            count = dialogs.items[d].unread_messages_count;

                            for (var x = 0; x < dataSource.length; x++) {
                                if (dialogs.items[d]._id == dataSource[x].DialogId) {
                                    dataSource[x]["Time"] = dt;
                                    dataSource[x]["unreadMsgCount"] = count;
                                }
                            }
                        }

                        var sortData1 = dataSource.sort(function (a, b) { return b.Time - a.Time });
                        localStorage.setItem('group_chatting_data', JSON.stringify(sortData1));
                        ////-----
                    }catch(e){}

                }
            });

        }
        //  FOR GET GROUP CHATTINGLIST ORDER BY TIME END

        //Register New User Start
        function RegisterNewUser(Login, UserId1) {
            var RegisterUser = { 'login': Login, 'password': "Welcome007!", 'tag': "differenzsystem", 'email': Login };

            QB.users.create(RegisterUser, function (err, user1) {
                if (user1) {
                    //Add new QuickBlox Id For Specific User
                    var url = INITURL + '/Chatting/SaveQBId';
                    var QBId = user1.id;
                    $.ajax({
                        url: url,
                        data: { UserId: UserId1, QuickBloxId: QBId },
                        cache: false,
                        type: 'POST',
                        async: false,
                        success: function (data) {
                            if (data == "Success") {

                                sFromQBId = "" + QBId + "";
                                sessionStorage.setItem("FromQBId", QBId);
                                CreateSession();
                            }
                        },
                        error: function (reponse) {
                            //alert("error : " + reponse);
                            $("#loading").hide();
                        }
                    });


                    // success
                } else {
                    return;
                    // error
                }
            });
        }
        //Register New User End

        //QuickBlox End
        $('#lblMsgNotification').removeClass('active');
        $('#lblGroupMsgNotification').removeClass('active');
        $('#lblCommonGroupMsg').removeClass('active');

    });
    //Time Out Functionality Function Start
    function timerIncrement() {
        idleTime = idleTime + 1;
        if (idleTime > 30) { // 30 minutes
            toastr.info("Session Timeout...");
            window.location.href = "@Url.Action("SessionTimeout", "account")";
        }
    }
    //Time Out Functionality Function End



    function HidePatientChatRoom() {
        // debugger;
        //debugger;
        try {
            // $('#loading').show();
            $.ajax({
                url: "@Url.Action("IsAllowForPatientChatRoom", "Account")",
                type: 'POST',
                async: false,
                success: function (data) {
                    result = data;
                },
                error: function (error) {
                    throw error;
                }
            });

        } catch (e) {
            //  $('#loading').hide();

        }
    }


    function ChatPermission() {
       debugger;
        //debugger;
        try {
            //var params = window.location.href.toString().split(window.location.host)[1];

            ////remove the '/' that will be the 1st character
            //params = params.substring(1);

            //if (params.length == 0) {
            //    return page + ".html"; // no params - it's home page
            //}

            var paramstt = window.location.href.toString().split(window.location.host)[1];

            paramstt = paramstt.substring(10);

            var url = window.location;

            // $('#loading').show();
            $.ajax({
                url: "@Url.Action("IsAllowForChat", "Account")",
                type: 'POST',
                async: false,
                success: function (data) {
                result = data;

                debugger;

           //   var url = window.location;

                var paramstt = window.location.href.toString().split(window.location.host)[1];

                paramstt = paramstt.substring(10);

                    if("@Session["IsAllowOneToOneChat"].ToString()" != "True" && paramstt == "Chatting")
                    {
                        window.location.href = "@Url.Action("NoAuthorize", "Chatting")";
                    }
                    else if("@Session["IsAllowForPatientChatRoom"].ToString()" != "True" && paramstt == "PatientGroupChatting")
                    {
                       window.location.href = "@Url.Action("NoAuthorize", "Chatting")";
                    }
                    else if("@Session["IsAllowGroupChat"].ToString()" != "True" && paramstt == "GroupChat")
                    {
                        window.location.href = "@Url.Action("NoAuthorize", "Chatting")";
                    }

             //   if(url.pathname == "/Chatting/Chatting")

                @*if(url.pathname == "/Chatting/Chatting")
                {

                    if(@Session["IsAllowOneToOneChat"].ToString() != "True")
                    {
                        window.location.href = "@Url.Action("SessionTimeout", "account")";
                    }
                }

                if(url.pathname == "/Chatting/Chatting")
                {

                    if(Session["IsAllowOneToOneChat"].ToString() != "True")
                    {
                        window.location.href = "@Url.Action("SessionTimeout", "account")";
                    }
                }

                if(Session["IsAllowOneToOneChat"].ToString() != "True")
                {
                    window.location.href = "@Url.Action("SessionTimeout", "account")";
                }
                else if(Session["IsAllowForPatientChatRoom"].ToString() != "True")
                {
                    window.location.href = "@Url.Action("SessionTimeout", "account")";
                }
                else if(Session["IsAllowGroupChat"].ToString() != "True")
                {
                    window.location.href = "@Url.Action("SessionTimeout", "account")";
                }*@

            },
            error: function (error) {
                throw error;
            }
        });

    } catch (e) {
        //  $('#loading').hide();

    }
    }

</script>

<body>
    <div class="loading" id="loading">
    </div>
    <div id="wrapper">
        <!--NAVIGATION START -->
        @Html.Partial("_LeftMenu")
        <!-- NAVIGATION END -->
        <!-- CONTENT START -->
        <div id="page-wrapper" class="gray-bg">
            <div class="row wrapper border-bottom bg-success page-heading">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h2 style="font-weight:400;">
                  @if (@ViewBag.GroupTypeId == 3  )
                  {
                    <span>Group Chat Room</span> 
                  }
                  else
                  {
                    @ViewBag.Title
                  }
                    </h2>
                </div>

                <ul class="nav navbar-top-links navbar-right ">
                    @*@if (!ViewContext.Controller.HasRoles("NurseCoordinator"))
                        { }*@

                    @if (Session["IsOfficePermission"].ToString() == "True" && Session["IsAllowOneToOneChat"].ToString() == "True")
                    {
                        <li id="lblMsgNotification" class="dropdown" style="padding: 0 0 0 0" !important title="Chatting">
                            <a class="count-info" href="~/Chatting/Chatting">
                                <i class="fa fa-comments"></i>
                                <span id="lblMessageCount" class="label label-success">
                                    <strong id="totNotification">0</strong>
                                </span>
                            </a>
                        </li>
                    }

                    @if (Session["IsOfficePermission"].ToString() == "True" && Session["IsAllowForPatientChatRoom"].ToString() == "True")
                    {
                        <li id="lblGroupMsgNotification" class="dropdown" title="Patient chat room">
                            <a class="count-info" href="~/Chatting/PatientGroupChatting">
                                <i class="fa fa-group"></i>
                                <span id="lblGroupMessageCount" class="label label-success">
                                    <strong id="totGroupNotification">0</strong>
                                </span>
                            </a>
                        </li>
                    }
                    @if (Session["IsOfficePermission"].ToString() == "True" && Session["IsAllowGroupChat"].ToString() == "True")
                    {
                        <li id="lblCommonGroupMsg" class="dropdown" style="padding: 0 60px 0 0" !important title="Group chat">
                            <a class="count-info" href="~/Chatting/GroupChat">
                                <strong><i class="fa fa-weixin"></i></strong>
                                <span id="lblCommonGroupMsgCount" class="label label-success">
                                    <strong id="totCommonGroupNotification">0</strong>
                                </span>
                            </a>
                        </li>
                    }
                    <li>
                        <h4 style="font-weight:400; padding-top:20px;">
                            <span class="m-r-sm text-muted welcome-message">
                                <b>
                                    Welcome @if (Session["Name"] != null)
                                    { @Session["Name"].ToString();
                                    }
                                </b>
                            </span>
                        </h4>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>
            @RenderBody()
            <div class="footer">
                <div class="pull-right">@CaregiverLite.Views.Resources.Layout.FooterCopyright</div>
            </div>
        </div>
    </div>
</body>
</html>