@model CaregiverLite.Models.GroupChatModel

@*CreateGroupWithSingleAndMultipleOffices*@

@*CreateNewGroup*@

@using (Html.BeginForm("CreateGroupWithSingleAndMultipleOffices", "Chatting", FormMethod.Post, new { @id = "frmCreateGroup", @class = "horizontal-form", @enctype = "multipart/form-data" }))
{
    <div id="main_div">
        <div class="alert alert-danger alert-dismissable" style="display:none" id="dvError3">
            <button onclick="divClose();" class="close" type="button">×</button>
            <label id="lblError3"></label>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                @Html.HiddenFor(model => model.QuickBloxIds)
                @Html.HiddenFor(model => model.GroupDialogId)
                @Html.HiddenFor(model => model.MembersUserId)
                @Html.HiddenFor(model => model.OfficeIds)
                @Html.HiddenFor(model=>model.IsCheckOfficeGroup)


                <div class="form-group">
                    <label>Group Name</label>
                    <span style="color:red;">*</span>
                    @Html.ValidationMessageFor(model => model.GroupName)
                    @Html.TextBoxFor(model => model.GroupName, new { @type = "text", @maxlength = "25", @placeholder = "Enter Group Name", @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Subject</label>
                    <span style="color:red;">*</span>
                    @Html.ValidationMessageFor(model => model.GroupSubject)
                    @Html.TextBoxFor(model => model.GroupSubject, new { @type = "text", @maxlength = "500", @placeholder = "Enter Subject", @class = "form-control", @onblur = "javascript:IsGroupNameAndSubjectExist();" })
                </div>


                @*<div class="col-md-12">
                        <label class="m-r-md">IsOfficeGroup</label>
                        @Html.CheckBoxFor(model => model.IsOfficeGroup, false)
                        <div class="clearfix"></div>
                    </div>*@


                <!--<div class="form-group radio-group">
                <label>-->
                @*<input type="radio" name="group-type" value="office" id="office-group" checked>*@
                <!--@Html.RadioButtonFor(model => model.IsOfficeGroup, true)
                    Office Group Chat
                </label>

                <label>-->
                @*<input type="radio" name="group-type" value="custom" id="customgroup">*@
                <!--@Html.RadioButtonFor(model => model.IsCustomGroup, false)
                        Custom Group Chat
                    </label>
                </div>-->


                <div class="form-group radio-group">
                    <label>
                        Office Group Chat

                        @Html.RadioButtonFor(model => model.SelectedGroup, "Office", new { id = "IsOfficeGroup", style = "margin-left: 14px;" })

                    </label>
                    <br />
                    <br />
                    <label>
                        Custom Group Chat

                        @Html.RadioButtonFor(model => model.SelectedGroup, "Custom", new { id = "IsCustomGroup", style = "margin-left: 8px;" })

                    </label>
                </div>



                @if (Session["Role"].ToString() == "SuperAdmin" || Session["Role"].ToString() == "Scheduler" || Session["Role"].ToString() == "Admin" || Session["Role"].ToString() == "OrgSuperAdmin")
                {
                    <div class="form-group" id="OfficeGroup">
                        <label class="control-label">Office</label>
                        <span style="color:red;">*</span>

                        @*@Html.ValidationMessageFor(model => Model.OfficeId)
                            @Html.DropDownList("OfficeId", (System.Web.Mvc.MultiSelectList)ViewBag.lstOffice, "Select Office", new { @multiple = "multiple", @class = "form-control" })*@

                        @Html.DropDownList("OfficeId", new MultiSelectList(@ViewBag.lstOffice, "OfficeId", "OfficeName"), new { @multiple = "multiple", @class = "chosen-select", @onblur = "javascript:Next();" })
                    </div>
                }
                else
                {
                    @Html.Hidden("OfficeId", "0")

                    @*@Html.HiddenFor(model => model.OfficeId,"0")*@
                }

            </div>

            <div class="form-group" id="MemberGroupList">
                <label>Member</label>
                <div class="form-group">
                    <Select id="ddlMember" class="chosen-select" name="ddlMember" multiple="multiple">
                        @if (ViewBag.MemberList != null)
                        {
                            foreach (var item in ViewBag.MemberList)
                            {
                                <option value="@item.UserId" nurseid="@item.NurseId" qbid="@item.QuickBloxId" email="@item.Email"> @item.Name </option>
                            }
                        }
                    </Select>
                </div>
            </div>
        </div>
        <!--<div class="col-md-12" id="IsCreateGroup">-->
        @*<button type="button" onclick="Next()" class="btn btn-sm btn-primary pull-right">Next</button>*@

        <!--<button type="button" onclick="CreateNewGroup()" class="btn btn-sm btn-primary pull-right">Create Group</button>
            <div class="clearfix"></div>
        </div>-->


        <div class="col-md-12" id="IsCreateGroup">
            @*<button type="button" onclick="Next()" class="btn btn-sm btn-primary pull-right">Next</button>*@

            <button type="button" onclick="CreateGroupWithSingleAndMultipleOffices()" class="btn btn-sm btn-primary pull-right">Create Group</button>
            <div class="clearfix"></div>
        </div>

    </div>


    @*<div id="main_div2" style="display:none">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Member</label>
                    <div class="form-group">
                        <Select id="ddlMember" class="chosen-select" name="ddlMember" multiple="multiple">
                            @if (ViewBag.MemberList != null)
                            {
                                foreach (var item in ViewBag.MemberList)
                                {
                                    <option value="@item.UserId" qbid="@item.QuickBloxId" email="@item.Email"> @item.Name </option>
                                }
                            }
                        </Select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button type="button" onclick="CreateNewGroup()" class="btn btn-sm btn-primary pull-right">Create Group</button>
                <button type="button" onclick="gotoAddScreen1()" style="margin-right:5px" class="btn btn-sm btn-primary pull-right" tabindex="17">@CaregiverLite.Views.Resources.PatientRequest.ButtonPrevious</button>

                <div class="clearfix"></div>
            </div>

        </div>*@

}


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript">

    var tempMsg = '@TempData["Message"]';

    var officeidss = "";

    if (tempMsg != "")
        toastr.success(tempMsg);

    var IsGroupNameSubjectExist = false;
    $(document).ready(function () {
        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);

        }
    });

    $('#ddlMember').change(function () {
        $('#ddlMember option:selected').each(function () {
            var $value = $(this).attr('qbid');
            //if (!$value)
            //    RegisterNewCaregiverOnQuickBlox($(this).attr('email'), $(this).val());
        });
    });




    //if (!$("#RepeatDate").val() && $('#IsRepeat').prop("checked") == true) {
    //    toastr.error('Please select Upto Date');
    //    $('#loading').hide();
    //    return false;
    //}

    $('#OfficeGroup').hide();

    $('#IsOfficeGroup').change(function () {

        if (this.checked) {

            $('#MemberGroupList').hide();

            $('#OfficeGroup').show();

            $('#IsCheckOfficeGroup').val(true);

          //  $('#RepeatDate').prop('required', true);
        }
        else {
            $('#OfficeGroup').hide();

            $('#MemberGroupList').show();
           // $('#RepeatDate').prop('required', false);
        }
       // $("#dvweek").hide();
    });



    $('#OfficeGroup').hide();

    $('#IsCustomGroup').change(function () {
        if (this.checked) {
            $('#OfficeGroup').hide();
            $("#OfficeId").val('0');
            $('#MemberGroupList').show();

            officeidss = $("#OfficeId").val();

            Next();

            //  $('#RepeatDate').prop('required', true);
        }
        else {
            $('#OfficeGroup').show();

            $('#MemberGroupList').hide();
            // $('#RepeatDate').prop('required', false);
        }
        // $("#dvweek").hide();
    });


    $('#OfficeId').change(function () {
        // Next();
        debugger;
        officeidss = $("#OfficeId").val();
    });


    async function Next() {
        debugger;
        $('#loading').show();

        var GroupName = $("#GroupName").val().trim();
        var GroupSubject = $("#GroupSubject").val().trim();

        /* var OfficeId = $("#OfficeId").val();*/

        var OfficeId = officeidss.join(",");
        console.log(OfficeId);

       // var t = IsGroupNameAndSubjectExist();

        //debugger;
        //if ()
        //{
        //    return false;
        //}

        //var selectedChattingGroupIds = '';
        //$('#ddlChattingGroup :selected').each(function () {
        //    selectedChattingGroupIds += $(this).val() + ',';
        //});

        //selectedChattingGroupIds = selectedChattingGroupIds.replace(/,\s*$/, "");

        //if (selectedChattingGroupIds == "") {
        //    toastr.info("Please select atleast one group");
        //    $('#ddlChattingGroup').focus();
        //    return;
        //}



        if (IsGroupNameSubjectExist == true) {
            //debugger;

            toastr.error("Group already exists with same name and subject line, please use different name or subject line.");
            $('#loading').hide();
            return false;
        }

        if (GroupName == "") {
            toastr.error('Please Enter Group Name');
            $('#GroupName').focus();
            $('#loading').hide();
            return false;
        }
        else if (GroupSubject == "") {
            toastr.error('Please Enter Subject');
            $('#GroupSubject').focus();
            $('#loading').hide();
            return false;
        }
        else if (!$("#OfficeId").val() && $('#IsOfficeGroup').prop("checked") == true) {
             debugger;
            //OfficeId = "0";
           // if (OfficeId != "0") {
            toastr.error('Please Select Office');
            $('#OfficeId').focus();
            $('#loading').hide();
            return false;
//}
        }

debugger;
        var url = INITURL + '/Chatting/GetAllMemberByOffice';
        await  $.ajax({
            url: url,
            cache: false,
            type: 'POST',
            data: {
                OfficeId: OfficeId,
            },
            async: true,
            success: function (data) {
                //debugger;
                $('#loading').hide();
                if (data.result == "Success") {

                    loadMemberList(data.objGroupMemberDetailListing, officeidss);

                  //  $("#main_div").css('display', 'none');
                  //  $("#main_div2").css('display', 'block');
                }
            },
            error: function (reponse) {
                $('#loading').hide();
            }
        });

        //$("#main_div").css('display', 'none');
        //$("#main_div2").css('display', 'block');

        $('#loading').hide();
    }

    function gotoAddScreen1()
    {
        $("#main_div2").css('display', 'none');
        $("#main_div").css('display', 'block');
    }


    function loadMemberList(lstMember,officeIdss) {

        debugger;

		 if ($('#IsOfficeGroup').prop("checked") == true) {
            $.each(lstMember, function (key, value) {
                $('#ddlMember').append("<option value='" + value.UserId + "' qbid='" + value.QuickBloxId + "' email='" + value.Email + "' selected>" + value.MemberName + "</option>");
            });

            // Ensure all options are selected (useful if dynamically updated)
            $('#ddlMember option').prop('selected', true);

        }
        else {

            $('#ddlMember').empty();
            if (lstMember.length > 0) {
                $.each(lstMember, function (key, value) {
                    $('#ddlMember').append("<option value=" + value.UserId + " qbid=" + value.QuickBloxId + "email=" + value.Email + ">" + value.MemberName + "</option>");
                });
            }

            $('#ddlMember').trigger("chosen:updated");
            $('#loading').hide();
        }
    }


 async function CreateNewGroup() {
        //debugger;
        $('#loading').show();

        var selectedUserIds = '';
        var selectedQBIds = '';

        var valuesArray = officeidss;
        debugger;
        // Check if '0' exists in the array
        if (valuesArray.length>1) {
            debugger;
            await Next();
        }
        else {
        }


        $('#ddlMember :selected').each(function () {
            selectedUserIds += $(this).attr("value") + ',';
            if ($(this).attr("qbid"))
                selectedQBIds += parseInt($(this).attr("qbid")) + ',';
        });

        selectedUserIds = selectedUserIds.replace(/,\s*$/, "");
        selectedQBIds = selectedQBIds.replace(/,\s*$/, "");

        if (!selectedUserIds) {
            toastr.info("Please select atleast one member");
            $('#ddlMember').focus();
            $('#loading').hide();
            return;
        }
        //debugger;

        $("#MembersUserId").val(selectedUserIds);
        $("#QuickBloxIds").val(selectedQBIds);

        if ($("#frmCreateGroup").valid()) {
            //debugger;

            @*
            //UAT
            var SuperAdminQBID = "32129044";
            //local
            var SuperAdminQBID = "32139280";
            //Live
            var SuperAdminQBID = "32132455";*@

            var SuperAdminQBID = "32132455";

            var GroupName = $("#GroupName").val();

            //commented
           //  var OfficeId = $("#OfficeId").val();

            var OfficeId = officeidss.join(",");



            // var OfficeId="0";


            if ('@Session["Role"]' == 'NurseCoordinator' || '@Session["Role"]' == 'Nurse') {

                OfficeId = '@Session["OfficeId"]';
            }

            debugger;
            var OrganisationId = '@Session["OrganisationId"]';

            var OrgSuperAdminName = '@Session["OrgSuperAdminName"]';
            var OrgSuperAdminQBId = '@Session["OrgSuperAdminQBId"]';
            var OrgSuperAdminEmail = '@Session["OrgSuperAdminEmail"]';

            debugger;

            if (OrganisationId > 0) {

                var user = {
                    id: OrgSuperAdminQBId,
                    login: OrgSuperAdminEmail,
                    password: "Welcome007!"
                };

                QB.createSession({ login: user.login, password: user.password }, function (err, result) {
                    debugger;
                    if (err) {
                        alert(err.message);
                    } else {
                        sessionStorage.setItem("sToken", result.token);

                        var occupants = SuperAdminQBID;

                        var dialogOccupants = {
                            type: 2,
                            occupants_ids: occupants,
                            name: GroupName,
                            data: {
                                class_name: "ChatDialogType",
                                ChatCategory: "3",
                                OfficeID: OfficeId
                            }
                        };

                        //debugger;
                        //Create New Group Chat Dialog
                        QB.chat.dialog.create(dialogOccupants, function (err, createdDialog) {
                            if (err) {
                                //debugger;
                                //console.log(err);
                                //console.log("DIALOG CREATED FAIL");
                            } else {
                                debugger;
                                $("#GroupDialogId").val(createdDialog._id);

                                $("#frmCreateGroup").submit();
                            }
                        });
                    }
                });
            }
            else {

                var user = {
                    id: SuperAdminQBID,
                    login: "superadmin@paseva.com",
                    password: "Welcome007!"
                };

                QB.createSession({ login: user.login, password: user.password }, function (err, result) {
                    debugger;
                    if (err) {
                        alert(err.message);
                    } else {
                        sessionStorage.setItem("sToken", result.token);

                        var occupants = SuperAdminQBID;

                        var dialogOccupants = {
                            type: 2,
                            occupants_ids: occupants,
                            name: GroupName,
                            data: {
                                class_name: "ChatDialogType",
                                ChatCategory: "3",
                                OfficeID: OfficeId
                            }
                        };

                        debugger;
                        //Create New Group Chat Dialog
                        QB.chat.dialog.create(dialogOccupants, function (err, createdDialog) {
                            if (err) {
                                //debugger;
                                //console.log(err);
                                //console.log("DIALOG CREATED FAIL");
                            } else {
                                debugger;
                                $("#GroupDialogId").val(createdDialog._id);

                                $("#frmCreateGroup").submit();
                            }
                        });
                    }
                });
            }
            //  RegisterCareGiverQB(Email);
            // $("#frmCreateGroup").submit();
     }

        //var url = INITURL + '/Chatting/CreateNewGroup';
        //$.ajax({
        //    url: url,
        //    cache: false,
        //    type: 'POST',
        //    data: {
        //        GroupName: GroupName,
        //        UserIds: selectedUserIds,
        //        QuickBloxId: selectedQBIds
        //    },
        //    async: true,
        //    success: function (data) {
        //        $('#loading').hide();
        //        if (data == "Success") {
        //            $('#addGroupModal').modal('hide');
        //            toastr.success('New group created successfully.');
        //        }
        //    },
        //    error: function (reponse) {
        //        $('#loading').hide();
        //    }
        //});
    }



    async function CreateNewGroup() {
        //debugger;
        $('#loading').show();

        var selectedUserIds = '';
        var selectedQBIds = '';

        var valuesArray = officeidss;
        debugger;
        // Check if '0' exists in the array

		if ($('#IsOfficeGroup').prop("checked") == true && officeidss.length > 0) {

            debugger;
            await Next();
        }
        else {
        }

debugger;
        $('#ddlMember :selected').each(function () {
            selectedUserIds += $(this).attr("value") + ',';
            if ($(this).attr("qbid"))
                selectedQBIds += parseInt($(this).attr("qbid")) + ',';
        });

        selectedUserIds = selectedUserIds.replace(/,\s*$/, "");
        selectedQBIds = selectedQBIds.replace(/,\s*$/, "");

        if (!selectedUserIds) {
            toastr.info("Please select atleast one member");
            $('#ddlMember').focus();
            $('#loading').hide();
            return;
        }
        //debugger;

        $("#MembersUserId").val(selectedUserIds);
        $("#QuickBloxIds").val(selectedQBIds);

        if ($("#frmCreateGroup").valid()) {
            //debugger;

            @*
            //UAT
            var SuperAdminQBID = "32129044";
            //local
            var SuperAdminQBID = "32139280";
            //Live
            var SuperAdminQBID = "32132455";*@

            var SuperAdminQBID = "32132455";

            var GroupName = $("#GroupName").val();

            //commented
           //  var OfficeId = $("#OfficeId").val();

            var OfficeId = officeidss.join(",");

            // var OfficeId="0";


            if ('@Session["Role"]' == 'NurseCoordinator' || '@Session["Role"]' == 'Nurse') {

                OfficeId = '@Session["OfficeId"]';
            }

            debugger;
            var OrganisationId = '@Session["OrganisationId"]';

            var OrgSuperAdminName = '@Session["OrgSuperAdminName"]';
            var OrgSuperAdminQBId = '@Session["OrgSuperAdminQBId"]';
            var OrgSuperAdminEmail = '@Session["OrgSuperAdminEmail"]';

            debugger;

            if (OrganisationId > 0) {

                var user = {
                    id: OrgSuperAdminQBId,
                    login: OrgSuperAdminEmail,
                    password: "Welcome007!"
                };

                QB.createSession({ login: user.login, password: user.password }, function (err, result) {
                    debugger;
                    if (err) {
                        alert(err.message);
                    } else {
                        sessionStorage.setItem("sToken", result.token);

                        var occupants = SuperAdminQBID;

                        var dialogOccupants = {
                            type: 2,
                            occupants_ids: occupants,
                            name: GroupName,
                            data: {
                                class_name: "ChatDialogType",
                                ChatCategory: "3",
                                OfficeID: OfficeId
                            }
                        };

                        //debugger;
                        //Create New Group Chat Dialog
                        QB.chat.dialog.create(dialogOccupants, function (err, createdDialog) {
                            if (err) {
                                //debugger;
                                //console.log(err);
                                //console.log("DIALOG CREATED FAIL");
                            } else {
                                debugger;
                                $("#GroupDialogId").val(createdDialog._id);

                                $("#frmCreateGroup").submit();
                            }
                        });
                    }
                });
            }
            else {

                var user = {
                    id: SuperAdminQBID,
                    login: "superadmin@paseva.com",
                    password: "Welcome007!"
                };

                QB.createSession({ login: user.login, password: user.password }, function (err, result) {
                    debugger;
                    if (err) {
                        alert(err.message);
                    } else {
                        sessionStorage.setItem("sToken", result.token);

                        var occupants = SuperAdminQBID;

                        var dialogOccupants = {
                            type: 2,
                            occupants_ids: occupants,
                            name: GroupName,
                            data: {
                                class_name: "ChatDialogType",
                                ChatCategory: "3",
                                OfficeID: OfficeId
                            }
                        };

                        debugger;
                        //Create New Group Chat Dialog
                        QB.chat.dialog.create(dialogOccupants, function (err, createdDialog) {
                            if (err) {
                                //debugger;
                                //console.log(err);
                                //console.log("DIALOG CREATED FAIL");
                            } else {
                                debugger;
                                $("#GroupDialogId").val(createdDialog._id);

                                $("#frmCreateGroup").submit();
                            }
                        });
                    }
                });
            }
            //  RegisterCareGiverQB(Email);
            // $("#frmCreateGroup").submit();
     }

        //var url = INITURL + '/Chatting/CreateNewGroup';
        //$.ajax({
        //    url: url,
        //    cache: false,
        //    type: 'POST',
        //    data: {
        //        GroupName: GroupName,
        //        UserIds: selectedUserIds,
        //        QuickBloxId: selectedQBIds
        //    },
        //    async: true,
        //    success: function (data) {
        //        $('#loading').hide();
        //        if (data == "Success") {
        //            $('#addGroupModal').modal('hide');
        //            toastr.success('New group created successfully.');
        //        }
        //    },
        //    error: function (reponse) {
        //        $('#loading').hide();
        //    }
        //});
    }




    async function CreateGroupWithSingleAndMultipleOffices() {
        //debugger;
        $('#loading').show();

        var selectedUserIds = '';
        var selectedQBIds = '';

        var valuesArray = officeidss;
        debugger;
        // Check if '0' exists in the array
        if ($('#IsOfficeGroup').prop("checked") == true) {


            $('#IsCheckOfficeGroup').val(true);
            debugger;
            await Next();
        }
        else {
        }

        $('#ddlMember :selected').each(function () {
            selectedUserIds += $(this).attr("value") + ',';
            if ($(this).attr("qbid"))
                selectedQBIds += parseInt($(this).attr("qbid")) + ',';
        });

        selectedUserIds = selectedUserIds.replace(/,\s*$/, "");
        selectedQBIds = selectedQBIds.replace(/,\s*$/, "");

        if (!selectedUserIds) {
            toastr.info("Please select atleast one member");
            $('#ddlMember').focus();
            $('#loading').hide();
            return;
        }
        //debugger;

        $("#MembersUserId").val(selectedUserIds);
        $("#QuickBloxIds").val(selectedQBIds);

        if ($("#frmCreateGroup").valid()) {
            //debugger;

            @*
            //UAT
            var SuperAdminQBID = "32129044";
            //local
            var SuperAdminQBID = "32139280";
            //Live
            var SuperAdminQBID = "32132455";*@

            var SuperAdminQBID = "32132455";

            var GroupName = $("#GroupName").val();

            //commented
           //  var OfficeId = $("#OfficeId").val();

            var OfficeId = officeidss.join(",");

            $("#OfficeIds").val(OfficeId);

            // var OfficeId="0";


            if ('@Session["Role"]' == 'NurseCoordinator' || '@Session["Role"]' == 'Nurse') {

                OfficeId = '@Session["OfficeId"]';
            }

            debugger;
            var OrganisationId = '@Session["OrganisationId"]';

            var OrgSuperAdminName = '@Session["OrgSuperAdminName"]';
            var OrgSuperAdminQBId = '@Session["OrgSuperAdminQBId"]';
            var OrgSuperAdminEmail = '@Session["OrgSuperAdminEmail"]';

            debugger;

            if (OrganisationId > 0) {

                var user = {
                    id: OrgSuperAdminQBId,
                    login: OrgSuperAdminEmail,
                    password: "Welcome007!"
                };

                QB.createSession({ login: user.login, password: user.password }, function (err, result) {
                    debugger;
                    if (err) {
                        alert(err.message);
                    } else {
                        sessionStorage.setItem("sToken", result.token);

                        var occupants = SuperAdminQBID;

                        var dialogOccupants = {
                            type: 2,
                            occupants_ids: occupants,
                            name: GroupName,
                            data: {
                                class_name: "ChatDialogType",
                                ChatCategory: "3",
                                OfficeID: OfficeId
                            }
                        };

                        //debugger;
                        //Create New Group Chat Dialog
                        QB.chat.dialog.create(dialogOccupants, function (err, createdDialog) {
                            if (err) {
                                //debugger;
                                //console.log(err);
                                //console.log("DIALOG CREATED FAIL");
                            } else {
                                debugger;
                                $("#GroupDialogId").val(createdDialog._id);

                                $("#frmCreateGroup").submit();
                            }
                        });
                    }
                });
            }
            else {

                var user = {
                    id: SuperAdminQBID,
                    login: "superadmin@paseva.com",
                    password: "Welcome007!"
                };

                QB.createSession({ login: user.login, password: user.password }, function (err, result) {
                    debugger;
                    if (err) {
                        alert(err.message);
                    } else {
                        sessionStorage.setItem("sToken", result.token);

                        var occupants = SuperAdminQBID;

                        var dialogOccupants = {
                            type: 2,
                            occupants_ids: occupants,
                            name: GroupName,
                            data: {
                                class_name: "ChatDialogType",
                                ChatCategory: "3",
                                OfficeID: OfficeId
                            }
                        };

                        debugger;
                        //Create New Group Chat Dialog
                        QB.chat.dialog.create(dialogOccupants, function (err, createdDialog) {
                            if (err) {
                                //debugger;
                                //console.log(err);
                                //console.log("DIALOG CREATED FAIL");
                            } else {
                                debugger;
                                $("#GroupDialogId").val(createdDialog._id);

                                $("#frmCreateGroup").submit();
                            }
                        });
                    }
                });
            }
            //  RegisterCareGiverQB(Email);
            // $("#frmCreateGroup").submit();
     }

        //var url = INITURL + '/Chatting/CreateNewGroup';
        //$.ajax({
        //    url: url,
        //    cache: false,
        //    type: 'POST',
        //    data: {
        //        GroupName: GroupName,
        //        UserIds: selectedUserIds,
        //        QuickBloxId: selectedQBIds
        //    },
        //    async: true,
        //    success: function (data) {
        //        $('#loading').hide();
        //        if (data == "Success") {
        //            $('#addGroupModal').modal('hide');
        //            toastr.success('New group created successfully.');
        //        }
        //    },
        //    error: function (reponse) {
        //        $('#loading').hide();
        //    }
        //});
    }

//function createChatSession(adminId, adminEmail, groupName, superAdminQBID, officeId) {
//    return new Promise((resolve, reject) => {
//        QB.createSession({ login: adminEmail, password: "Welcome007!" }, function (err, result) {
//            if (err) {
//                alert(err.message);
//                reject(err);
//            } else {
//                sessionStorage.setItem("sToken", result.token);
//                var occupants = superAdminQBID;
//                var dialogOccupants = {
//                    type: 2,
//                    occupants_ids: occupants,
//                    name: groupName,
//                    data: {
//                        class_name: "ChatDialogType",
//                        ChatCategory: "3",
//                        OfficeID: officeId
//                    }
//                };
//                QB.chat.dialog.create(dialogOccupants, function (err, createdDialog) {
//                    if (err) {
//                        reject(err);
//                    } else {
//                        $("#GroupDialogId").val(createdDialog._id);
//                        $("#frmCreateGroup").submit();
//                        resolve();
//                    }
//                });
//            }
//        });
//    });
//}


    function IsGroupNameAndSubjectExist() {

      //  var IsGroupNameAndSubjectExist = false;

        var GroupName = $("#GroupName").val();

        var GroupSubject = $("#GroupSubject").val();

        $(".loading").show();
        var url = INITURL + '/Chatting/IsGroupNameAndSubjectExist';
        $.ajax({
            url: url,
            data: { GroupName: GroupName, GroupSubject: GroupSubject },
            type: "POST",
            success: function (data) {

                //debugger;
                $(".loading").hide();
                //if (data == true) {
                //    toastr.error("MedicalId already exist.");
                //    IsMedicalExist = 1;
                //    //$("#MedicalId").focus();
                //}
                //else { IsMedicalExist = 0; }

                //if (data == true) {
                //    IsGroupNameAndSubjectExist =
                //}
                //else
                //{

                //}
                IsGroupNameSubjectExist = data;

            },
            error: function (reponse) {
                //alert("error : " + JSON.stringify(reponse));
                $(".loading").hide();
            }
        });

      //  return IsGroupNameAndSubjectExist;


  //      debugger;
    }
</script>
