
@{
    ViewBag.Title = "Group Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .unReadCount {
        float: right;
        height: 25px;
        width: auto;
        padding-top: 7px;
        font-size: 12px;
        border-radius: 15px;
    }

    .table-fixed tbody {
        height: 230px;
        overflow-y: auto;
        width: 100%;
    }

    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;
    }
</style>

<!-- Assign Permission POPUP START -->
<div class="modal fade" id="modalAssignPermission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Assign Permission(s)</h4>
            </div>
            <div class="modal-body row" id="AssignPermission">
            </div>
        </div>
    </div>
</div>

<!-- ADD New Group POPUP START -->
<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" id="modalAddPopup">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Add New Group</h4>
            </div>
            <div class="modal-body row" id="AddNewGroup">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMemberAssignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Assign Member(s)</h4>
            </div>
            <div class="modal-body row" id="AssignMember">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGroupDetailEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Edit Group Detail(s)</h4>
            </div>
            <div class="modal-body row" id="GroupDetailEdit">
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Group Chat List</h5>
                    <div class="ibox-tools">

                        @if (ViewContext.Controller.HasRoles("Nurse"))
                        {
                            if (Session["IsApproved"].ToString() == "True" && Session["IsAllowToCreateGroupChat"].ToString() == "True")
                            {
                                <a class="btn btn-xs btn-primary" style="margin-top:-9px;" href="javascript:;" onclick="OpenAddNew()">Add New Group</a>
                            }
                        }
                        else
                        {
                            if (Session["IsAllowToCreateGroupChat"].ToString() == "True")
                            {
                                <a class="btn btn-xs btn-primary" style="margin-top:-9px;" href="javascript:;" onclick="OpenAddNew()">Add New Group</a>

                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="form-group col-md-2 pull-right">
                        <label>Search:</label>
                        <input type="text" class="form-control" id="table-filter" placeholder="Search Here..">
                    </div>
                    <div class="form-group col-md-2 pull-right" id="divOfficeFilter">

                        <label>@CaregiverLite.Views.Resources.PatientRequest.FilterLabelOffice</label>
                        </br>
                        <div class="form-group" style="margin-right: 10px;">
                            @Html.DropDownList("ddlOfficeDropDownList", (System.Web.Mvc.SelectList)ViewBag.OfficeDropDownList, new { @class = "form-control", style = "width:170px", @onchange = "officeFilter(this.value)" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <table id="groupchatTable" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Office</th>
                                <th>Chat</th>
                                <th>Member</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="loadMore" class="input-group pull-right margin-25" style="display:none;margin-right: 10px;margin-top: 10px;">
                        <img id="loadingMore" style="display:none" src="~/image/Spinner-1s-32px.gif" />
                        <a id="btnLoadMore" class="btn btn-sm btn-primary" onclick="loadMore();">Load More</a>
                        <span id="allmsg" class="text-primary"></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/jquery-2.1.1.js"></script>
<script src="~/Scripts/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Scripts/js/oms.min.js"></script>

<script type="text/javascript">

    $('#ddlOfficeDropDownList').val(0);

    var IsSuperAdmin = '@Session["IsSuperAdmin"]'

    var sFromQBId = "@Session["FromQBId"]";

    var limit = 100;
    var skip = 0;
    var totalEntriesPatient = 0;
    // var officeIds = "1";
    var officeIds = [];
    // officeIds.push("1");

    var groupChat = [];

    var searchInput = "";

    var IsSearch = 0;

    if (IsSuperAdmin == "false") {

        $('#divOfficeFilter').hide();
    }

    // for officewise filter


    var ddlArray = new Array();
    var ddl = document.getElementById('ddlOfficeDropDownList');
    for (i = 0; i < ddl.options.length; i++) {
        ddlArray[i] = ddl.options[i].value;
        officeIds.push(ddlArray[i]);
    }





    $(document).ready(function () {

	 $('#ddlOfficeDropDownList').val(0);
        $("#loading").show();
        var jquey = jQuery.noConflict();

        CreateSession();
        //setTimeout(getPatientChatRoomDialogs, 10000);

        window.setInterval(function () {


            var sToken = sessionStorage.getItem("sToken");

            if (sToken == null) {
                CreateSession();
            }


            if (searchInput != null && IsSearch == 1) {

                debugger;
                getPatientChatRoomDialogs(limit, skip, 0, officeIds, 0, 1);
            }
            else {
                getPatientChatRoomDialogs(limit, skip, 0, officeIds, 0, 0);
            }
            //    getPatientChatRoomDialogs(100, 0, 0,officeIds,0,0);

        }, 1000 * 10);

    });



    function CreateSession() {
        //START CREATE SESSION
        QB.createSession(function (err, result) {

            if (err) {

            } else {
                sessionStorage.setItem("sToken", result.token);

                if (sFromQBId == '0') {
                    RegisterNewUser("@Session["FromUserEmail"]", "@Session["LoginUserUserId"]");
                }
                else {
                    var user = {
                        id: sFromQBId,
                        login: "@Session["FromUserEmail"]",
                        password: "Welcome007!"
                    };

                    QB.createSession({ login: user.login, password: user.password }, function (err, result) {
                        if (err) {

                            alert(err.message);
                        } else {
                            sessionStorage.setItem("sToken", result.token);
                            getPatientChatRoomDialogs(limit, skip, 1, officeIds, 0, 0);
                        }
                    });
                }
            }
        });
        //END CREATE SESSION
    }



    function getPatientChatRoomDialogs(limit, skip, flagIsload, officeIds, flagIsfilter, flagIsSearch) {



        //if (flagIsfilter)
        //    groupChat = [];

        if (flagIsload)
            $("#loading").show();

        if (flagIsSearch) {
            var filters = {
                count: 1,
                name: {
                    ctn: searchInput
                },
                data: {
                    class_name: "ChatDialogType",
                    ChatCategory: 3,
                    OfficeID: {
                        in: officeIds
                    },
                    // OfficeID: officeIds
                }
            }
        }
        else {
            var filters = {
                count: 1,
                data: {
                    class_name: "ChatDialogType",
                    ChatCategory: 3,
                    OfficeID: {
                        in: officeIds
                    },
                    // OfficeID: officeIds
                }
            }
        }

        QB.chat.dialog.list(filters, function (error, response) {
            if (error) {
                return false;
            }

            totalEntriesPatient = response.items.count
            //  debugger;

            if (totalEntriesPatient > 100) {
                $("#loadMore").show();
            }
            else {
                $("#loadMore").hide();
            }

            if (flagIsSearch) {
                var filters = {
                    limit: limit,
                    skip: skip,
                    sort_desc: "last_message_date_sent",
                    name: {
                        ctn: searchInput
                    },
                    data: {
                        class_name: "ChatDialogType",
                        ChatCategory: 3,
                        //  OfficeID: officeIds
                        OfficeID: {
                            in: officeIds
                        },
                    }
                }
            }
            else {
                var filters = {
                    limit: limit,
                    skip: skip,
                    sort_desc: "last_message_date_sent",
                    //name: {
                    //    ctn: "Bles"
                    //},
                    data: {
                        class_name: "ChatDialogType",
                        ChatCategory: 3,
                        //  OfficeID: officeIds
                        OfficeID: {
                            in: officeIds
                        },
                    }
                }
            }


            QB.chat.dialog.list(filters, function (error, response) {
                if (error) {
                    //   debugger;
                    return false;
                }
                // debugger;
                var dialogs = response.items

                var patientgroupDialogIds = "";
                for (i = 0; i < dialogs.length ; i++) {

                    if (i != 99)
                        patientgroupDialogIds += dialogs[i]._id + ","
                    else
                        patientgroupDialogIds += dialogs[i]._id


                }

                var url = INITURL + '/Chatting/GetPatientRoomGroupList';

                $.ajax({
                    url: url,
                    data: { QBGroupDialogIds: patientgroupDialogIds, GroupType: 2 },
                    cache: false,
                    type: 'POST',
                    async: false,
                    success: function (data) {

                        //  debugger;

                        var dataSource = data;
                        //debugger;
                        for (var d = 0; d < dialogs.length; d++) {
                            var dt;
                            dt = dialogs[d].last_message_date_sent;
                            count = dialogs[d].unread_messages_count;
                            try {
                                for (var x = 0; x < dataSource.length; x++) {
                                    if (dialogs[d]._id == dataSource[x].DialogId) {
                                        dataSource[x]["Time"] = dt;
                                        dataSource[x]["unreadMsgCount"] = count;
                                    }
                                }
                            } catch (e) { }
                        }


                        var sortData = dataSource.sort(function (a, b) { return b.Time - a.Time });
                        //  debugger;
                        if (flagIsfilter)
                            groupChat = [];

                        localStorage.setItem("IsOffcFilterFlag", 0);

                        var IsOffcFilterFlag = localStorage.getItem("IsOffcFilterFlag");

                        if (IsOffcFilterFlag == 0) {

                            if (groupChat.length > 0) {

                                for (var i = 0; i < sortData.length; i++) {
                                    var groupchatIndex = 0;
                                    var currentData = sortData[i];
                                    var groupchatData = $.grep(groupChat, function (element, index) {
                                        ///groupchatIndex = index;
                                        return element.DialogId == currentData.DialogId;
                                    });
                                    if (groupchatData != null && groupchatData.length > 0) {
                                        // debugger;
                                        var chatData = groupchatData[0];
                                        chatData.unreadMsgCount = currentData.unreadMsgCount;
                                        chatData.Time = currentData.Time;
                                    }
                                    else {
                                        groupChat.push(currentData);
                                    }
                                }

                            }
                            else {
                                groupChat = $.merge($.merge([], groupChat), sortData);

                            }


                            groupChat = groupChat.sort(function (a, b) { return b.Time - a.Time });

                            groupChat = groupChat.sort(function (a, b) { return b.Time - a.Time });
                            // mearge two array working

                            var groupchatTable = "";


                            $('#groupchatTable tbody').remove();

                            for (var tb1 = 0; tb1 < groupChat.length ; tb1++) {

                                var unReadHtml = "";
                                var chatBtnhtml = '';
                                var assignCaregiverBtnhtml = '';
                                var assignOffStaffBtnhtml = '';
                                var assignMemberBtnhtml = '';
                                var actionhtml = '';
                                var backgroundColorHtml = '';

                                if (groupChat[tb1].unreadMsgCount > 0) {
                                    unReadHtml = "<span class='label label-danger unReadCount'>" + groupChat[tb1].unreadMsgCount + "</span>";
                                }

                                //    chatBtnhtml += '<a href="/Chatting/OpenGroupChatWindow?Id=' + groupChat[tb1].ChattingGroupId + '" class="btn btn-xs btn-primary" style="width:100%;" >Chat</a>';

                                chatBtnhtml += '<a href="/Chatting/OpenGroupChatWindow?Id=' + groupChat[tb1].ChattingGroupId + '&GroupType=3" class="btn btn-xs btn-primary" style="width:100%;" >Chat</a>'

                                if (groupChat[tb1].IsGroupAdmin == true && groupChat[tb1].IsOfficeGroup == false)
                                    assignMemberBtnhtml += '<input type="button" class="btn btn-xs btn-primary" style="margin-left:10px; width:auto;" onclick="OpenAssignNewMemberModal(' + groupChat[tb1].ChattingGroupId + ',\'' + escape(groupChat[tb1].GroupName) + '\',\'' + groupChat[tb1].GroupTypeId + '\')" value="Assign Member">'
                                else
                                    assignMemberBtnhtml += '-'


                                if (groupChat[tb1].IsGroupAdmin == true && groupChat[tb1].IsOfficeGroup == false) {
                                    actionhtml += '<input type="button" class="btn btn-xs btn-primary" style=";margin-left:10px; width:auto;" onclick="EditGroupDetaiModal(' + groupChat[tb1].ChattingGroupId + ',\'' + groupChat[tb1].DialogId + '\',\'' + groupChat[tb1].GroupName + '\',\'' + groupChat[tb1].GroupSubject + '\')" value="Edit">'
                                    actionhtml += '<input type="button" class="btn btn-xs btn-primary" style="background-color: #e00e0e;margin-left:10px; width:auto;" onclick="DeleteGroupChat(' + groupChat[tb1].ChattingGroupId + ',\'' + groupChat[tb1].DialogId + '\')" value="Delete Group">'
                                }

                                if (groupChat[tb1].IsOfficeGroup == false) {
                                    if ("@Session["Role"]" != "SuperAdmin") {
                                        actionhtml += '<input type="button" class="btn btn-xs btn-primary" style="background-color: #e00e0e;margin-left:10px; width:auto;"  onclick="ExitGroupChat(' + groupChat[tb1].ChattingGroupId + ',\'' + groupChat[tb1].DialogId + '\',\'' + groupChat[tb1].GroupName + '\')" value="Exit Group">'
                                    }
                                }
                                if (groupChat[tb1].IsOfficeGroup == true) {
                                    if ("@Session["Role"]" == "SuperAdmin" || "@Session["Role"]" == "Admin") {
                                        actionhtml += '<input type="button" class="btn btn-xs btn-primary" style="margin-left:10px; width:auto;"  onclick="AssignPermission(' + groupChat[tb1].ChattingGroupId + ',\'' + groupChat[tb1].GroupName + '\',\'' + groupChat[tb1].GroupTypeId + '\')" value="ASSIGN PERMISSION">'
                                    }

                                    backgroundColorHtml += 'background-color:#cdf0be'

                                }

                                //  assignMemberBtnhtml += '<input type="button" class="btn btn-xs btn-primary" style="margin-left:10px; width:auto;" onclick="OpenAssignNewMemberModal(' + groupChat[tb1].ChattingGroupId + ',\'' + escape(groupChat[tb1].GroupName) + '\',\'' + groupChat[tb1].GroupTypeId + '\')" value="Assign Member">';

                                groupchatTable += "<tr>" +
                                        "<td style=" + backgroundColorHtml + ">" + groupChat[tb1].GroupName + unReadHtml + "</td>" +
                                        "<td style=" + backgroundColorHtml + ">" + groupChat[tb1].OfficeName + "</td>" +
                                        "<td style=" + backgroundColorHtml + ">" + chatBtnhtml + "</td>" +
                                        "<td style=" + backgroundColorHtml + ">" + assignMemberBtnhtml + "</td>" +
                                        "<td style=" + backgroundColorHtml + ">" + actionhtml + "</td>" +
                                        "</tr>";

                            }


                            if (groupChat.length == 0) {
                                groupchatTable += "<tr><td>No group chat available</td><td></td><td></td><td></td><td></td><td></td></tr>";
                            }

                            $("#groupchatTable").append(groupchatTable);


                            $("#loading").hide();
                            $("#loadingMore").hide();
                            // $("#btnLoadMore").show();

                            //if (skip > totalEntriesPatient) {
                            //    $("#allmsg").text("No more group chat available");
                            //}

                            if (skip > totalEntriesPatient) {
                                $("#btnLoadMore").hide();
                                $("#allmsg").show();
                                $("#allmsg").text("No more group chat available");
                            }
                            else {
                                $("#btnLoadMore").show();
                                $("#allmsg").hide();
                            }
                        }

                    },
                    error: function (reponse) {
                        //alert("error : " + reponse);
                        $("#loading").hide();
                        $("#loadingMore").hide();
                        $("#btnLoadMore").hide();
                    }
                });

                // debugger;

            });


        });



    }


    $('window').scroll(function () {

        debugger;
    });
    function loadMore() {

        skip = limit + skip;

        $("#loadingMore").show();
        $("#btnLoadMore").hide();


        if (skip < totalEntriesPatient) {
            if (searchInput != null && IsSearch == 1) {
                getPatientChatRoomDialogs(limit, skip, 0, officeIds, 0, 1);
            }
            else {
                getPatientChatRoomDialogs(limit, skip, 0, officeIds, 0, 0);
            }
        }
        else {
            $("#loadMore").hide();
            $("#allmsg").show();
            $("#allmsg").text("No more group chat available");
        }


    }

    function officeFilter(OfficeId) {
       // debugger;
     //   localStorage.setItem("IsOffcFilterFlag", 1);
	    $("#loading").show();

        $('#groupchatTable tbody').remove();

        localStorage.setItem("IsOffcFilterFlag", 1);

        officeIds = [];

        if (OfficeId == 0) {
            for (i = 0; i < ddl.options.length; i++) {
                ddlArray[i] = ddl.options[i].value;
                officeIds.push(ddlArray[i]);
            }

        }
        else {
            officeIds.push(OfficeId);
        }

        limit = 100;
        skip = 0;
        getPatientChatRoomDialogs(limit, skip, 1, officeIds, 1, 0);
    }


    $("#table-filter").keyup(function (event) {
        if (event.keyCode == 13) {
            debugger;
            var input = document.getElementById("table-filter");
            limit = 100;
            skip = 0;

            searchInput = $('#table-filter').val();

            //  var cs = $(this).val().length;

            var lengthCount = $('#table-filter').val().length
            if (lengthCount > 3) {
                IsSearch = 1;
                getPatientChatRoomDialogs(limit, skip, 1, officeIds, 1, 1);
            }
            else if (lengthCount == 0) {
                IsSearch = 0;
                getPatientChatRoomDialogs(limit, skip, 1, officeIds, 0, 0);
            }
            else {
                IsSearch = 0;
                toastr.warning('Please Enter Minimum 4 charecter');
            }
        }
    });


    /// old code for group chat
    function OpenAddNew() {
        $("#loading").show();

        $('#AddNewGroup').load(INITURL + 'Chatting/AddNewGroup', function () {
            sessionStorage.setItem("PartialView", "1");
            $('#addGroupModal').modal('show');

            $("#loading").hide();
        });
    }


    function OpenAssignNewMemberModal(ChattingGroupId, GroupName, GroupTypeId) {

        $("#loading").show();
        var url = INITURL + 'Chatting/AssignMember?ChattingGroupId=' + ChattingGroupId + '&GroupName=' + unescape(GroupName) + '&GroupTypeId=' + GroupTypeId;
        $('#AssignMember').load(encodeURI(url), function () {
            sessionStorage.setItem("PartialView", "1");
            $('#modalMemberAssignment').modal('show');
            $("#loading").hide();
        });
    }

    function EditGroupDetaiModal(ChattingGroupId, DialogId, GroupName, GroupSubject) {

        $("#loading").show();
        var url = INITURL + 'Chatting/EditGroupDetail?ChattingGroupId=' + ChattingGroupId + '&DialogId=' + DialogId + '&GroupName=' + unescape(GroupName) + '&GroupSubject=' + GroupSubject;
        $('#GroupDetailEdit').load(encodeURI(url), function () {
            sessionStorage.setItem("PartialView", "1");
            $('#modalGroupDetailEdit').modal('show');
            $("#loading").hide();
        });


    }//Edit Group

    function DeleteGroupChat(ChattingGroupId, DialogId) {


        if (confirm("Are you sure you want to delete this group permanently?")) {
            $("#loading").show();
            var url = INITURL + '/Chatting/DeleteGroupChat';
            $.ajax({
                url: url,
                cache: false,
                type: 'POST',
                async: false,
                data: { ChattingGroupId: ChattingGroupId, DialogId: DialogId },
                success: function (data) {
                    if (data) {
                        toastr.success("Group deleted successfully.");
                        location.reload();
                    }
                },
                error: function (reponse) {
                    //alert("error : " + reponse);
                    toastr.error("Group not deleted. Try again....");
                    $("#loading").hide();
                }
            });
        }
        $("#loading").hide();

    }


    function ExitGroupChat(ChattingGroupId, DialogId, GroupName) {
        $("#loading").show();

        if (confirm("Are you sure you want to exit this group permanently?")) {

            var url = INITURL + '/Chatting/ExitGroupChat';
            $.ajax({
                url: url,
                cache: false,
                type: 'POST',
                async: false,
                data: { ChattingGroupId: ChattingGroupId, GroupDialogId: DialogId, GroupName: GroupName },
                success: function (data) {
                    debugger;
                    if (data == "Success") {
                        window.location = INITURL + '/Chatting/GroupChat';
                        toastr.success("Group exit successfully.");
                        location.reload();
                    }
                    $("#loading").hide();
                },
                error: function (reponse) {
                    //alert("error : " + reponse);
                    toastr.error("Group not exit. Try again....");
                    $("#loading").hide();
                }
            });
        }
        //  $("#loading").hide();

    }

    function AssignPermission(ChattingGroupId, GroupName, GroupTypeId) {
        debugger;
        $("#loading").show();
        var url = INITURL + 'Chatting/_AssignPermission?ChattingGroupId=' + ChattingGroupId + '&GroupName=' + unescape(GroupName) + '&GroupTypeId=' + GroupTypeId;
        $('#AssignPermission').load(encodeURI(url), function () {
            sessionStorage.setItem("PartialView", "1");
            $('#modalAssignPermission').modal('show');
            $("#loading").hide();
        });
    }
</script>
