@*@model CaregiverLite.Models.ForgotPassword
@{
    ViewBag.Title = @CaregiverLite.Views.Resources.Account.TitleResetPassword;
     Layout = "~/Views/shared/_LoginLayout.cshtml";     
}
<style>
    .logo-name {
        color: #088BCA;
        font-weight: 100;
        letter-spacing: 0px;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 40px;
        margin-top: 150px;
        text-align: center;
        padding-top: 20px;
    }
</style>

<div style="background:rgba(0,0,0,0.5); height:100vh;">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div style="background:#f5f5f5;padding:0 10px;border-radius:10px;">
            <h1 class="logo-name">@CaregiverLite.Views.Resources.Account.TitleLogin</h1>
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "fmResetPassword", @class = "horizontal-form", @enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <span id="spError" style="color:red"></span>
                </div>
                @Html.HiddenFor(model => model.Email)
                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.NewPassword)
                    @Html.TextBoxFor(model => model.NewPassword, new { @type = "password", @class = "form-control", @placeholder = @CaregiverLite.Views.Resources.Account.PlaceHolderNewPassword })
                </div>
                <div class="form-group">
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password", @class = "form-control", @placeholder = @CaregiverLite.Views.Resources.Account.PlaceHolderReTypePassword })
                </div>
                <button type="button" onclick="submitform();" class="btn btn-primary block full-width m-b">@CaregiverLite.Views.Resources.Account.ButtonSubmit</button>
                <a href="~/Account/Login">@CaregiverLite.Views.Resources.Account.ButtonLogIn</a>
            }
            <p class="m-t" style="padding-bottom:10px;">@CaregiverLite.Views.Resources.Layout.FooterCopyright</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var tempMsg = '@TempData["message"]';
        if (tempMsg != "") {
            $("#spError").html(tempMsg);
        }
        else {
            $("#spError").html("");
        }
    });

    function submitform() {
        $("#fmResetPassword").submit();
    }
</script>*@




@model CaregiverLite.Models.ForgotPassword
@{
    ViewBag.Title = @CaregiverLite.Views.Resources.Account.TitleForgotPassword;
    Layout = null;
}

<head>
    <title>PaSeva</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/Title_icon.png">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>





<style>
    .password-container {
        position: relative;
    }

    .password-input {
        width: 100%;
        padding: 10px;
        padding-right: 40px; /* Space for the icon */
        box-sizing: border-box;
    }

    .toggle-password {
        position: absolute;
        right: 10px;
        top: 45px;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 18px;
        z-index: 1;
    }


        .toggle-password.hide {
            background-image: url('http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/Password_openIcon.png');
        }

    .form-outline {
        margin-top: 12px;
        padding-bottom: 9px;
    }

    .form-check {
        padding-bottom: 9px;
    }

    .leftdiv {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }

    img {
        max-width: 100%;
    }

    .rightdivRow {
        margin-top: 25%;
    }

    .textboxalign {
        width: 70%;
        margin-top: 20px;
    }

    .Cnftextboxalign {
        width: 70%;
        margin-top: -12px;
    }

    input {
        margin-bottom: 12px;
        margin-top: 8px;
    }

    .leftimgestyle {
        height: 100%;
    }

    @@media (min-width:320px) and (max-width:480px) {

        .leftdiv {
            text-align: center;
            position: relative;
            top: 35%;
            left: 15%;
            width: 40%;
            margin: 85px auto 100px auto;
        }

        .rightdivRow {
            width: 90%;
            margin: 100px auto;
        }

        .textboxalign {
            width: 96%;
            margin-top: 7%;
        }

        .leftimgestyle {
            height: 0%;
        }
    }
</style>

<div class="container-fluid" style="padding-left:0px">
    <div class="row">
        <div class="col-3 col-md-7  col-sm-7 leftimgestyle">
            <div class="leftdiv">
                <img id="pasevalogo" src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/ForgetPasswordLeftImage.png" style="height: 130px;" />

            </div>

        </div>
        <div class=" col-3 col-md-5 col-sm-5" style="color: #1B1B1C">

            <div class="row rightdivRow">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "fmResetPassword", @class = "horizontal-form", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Email)
                    <div class="col-md-12">
                        <img style="text-align: left;height: 30px; width:30px" src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/ForgetPasswordIcon.png" />
                        <span style="font-weight: bold;  color: #1F305B;font-size:18px"><b>Create New Password</b></span>
                    </div>
                    <div class="col-md-12 textboxalign">
                        <span class="form-check-label" for="form1Example3" style="color:#777;font-size: 13px;">Choose a password at least 6 characters</span>
                    </div>
                    <div class="col-md-12 textboxalign">
                        <div class="form-outline mb-4 password-container ">
                            <span class="form-check-label" for="form1Example3" style="color:#777;font-size: 13px;padding-left: 6px;font-weight: bold;">Create New Password</span>
                            @Html.TextBoxFor(model => model.NewPassword, new { @type = "password", @required = "required", @class = "form-control", @placeholder = @CaregiverLite.Views.Resources.Account.PlaceHolderNewPassword })
                            <img id="togglePassword" class="toggle-password" src="" />
                            <span id="PasswordError" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-12 Cnftextboxalign">
                        <div class="form-outline mb-4 password-container ">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            <span class="form-check-label" for="form1Example3" style="color:#777;font-size: 13px;padding-left: 6px;font-weight: bold;">Confirm New Password</span>
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password", @class = "form-control", @placeholder = @CaregiverLite.Views.Resources.Account.PlaceHolderNewPassword })
                            <img id="toggleConfirmPassword" class="toggle-password" src="" />
                            <span id="CnfPasswordError" style="color:red"></span>
                        </div>
                    </div>
                        <div class="col-md-12 textboxalign">
                            <button class="btn btn-primary btn-lg btn-block" type="button" style="background-color: #1F305B;border: none;height: 44px; font-size: 15px;width:100%; padding: 0px;" onclick="submitform();">
                                Create Password
                            </button>
                        </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {


        const passwordInput = document.getElementById('NewPassword');
        const togglePassword = document.getElementById('togglePassword');
        const CnfpasswordInput = document.getElementById('ConfirmPassword');
        const toggleCnfPassword = document.getElementById('toggleConfirmPassword');

        togglePassword.src = "http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/Password_ClosedIcon.png";
        toggleCnfPassword.src = "http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/Password_ClosedIcon.png";
        togglePassword.addEventListener('click', () => {

            debugger;

            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);


            if (type == 'text') {
                togglePassword.src = "http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/Password_openIcon.png";
            } else {
                togglePassword.src = "http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/Password_ClosedIcon.png";
            }


        });

        toggleCnfPassword.addEventListener('click', () => {

            debugger;

            const type = CnfpasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            CnfpasswordInput.setAttribute('type', type);


            if (type == 'text') {
                toggleCnfPassword.src = "http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/Password_openIcon.png";
            } else {
                toggleCnfPassword.src = "http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/Password_ClosedIcon.png";
            }


        });





        var tempMsg = '@TempData["message"]';
        if (tempMsg != "") {
            $("#spError").html(tempMsg);

        }
        else {
            $("#spError").html("");
        }
    });

    function submitform() {

        $("#PasswordError").html("");
        $("#CnfPasswordError").html("");
        if ($("#NewPassword").val() == "") {
            $("#PasswordError").html("Password should not be blank");
            return false;
        } else if ($("#NewPassword").val().length <6) {

            $("#PasswordError").html("Please enter minimum 6 digit password");
            return false;
        }


        if ($("#ConfirmPassword").val() == "") {
            $("#CnfPasswordError").html("Password should not be blank");
            return false;
        }


        if ($("#NewPassword").val() != $("#ConfirmPassword").val())
        {
            $("#CnfPasswordError").html("Password and Confirm Password dost not match");
            return false;
        }
        else {

            $("#fmResetPassword").submit();
        }
    }
</script>