
@{
    ViewBag.Title = "Client";
    //Layout = "~/Views/_ViewStart.cshtml";
}
<style>
    .ClientCusotmBtn {
        background-color: #092C44;
        color: white;
        padding: 7px;
        width: 100%;
        height: 42px;
        font-size: 1vw;
        /* margin-right: 5px; */
        border-radius: 6px;
        display: block;
    }

        .ClientCusotmBtn:hover {
            color: #fff !important;
        }
</style>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modalAddPopup">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btnClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Client Details</h4>
            </div>
            <div class="modal-body row" id="AddNewClient">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ClientRegisterData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">ExcelPatients</h4>
            </div>
            <div class="modal-body row" id="ClientRegisters">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="modalEditPopup">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btnClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Edit Client Details</h4>
            </div>
            <div class="modal-body row" id="EditClientDiv">
            </div>
        </div>
    </div>
</div>


<!-- LIST OF CLIENT START-->
<div class="wrapper wrapper-content animated fadeInRight containerstyle">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="height: 88px ">
                    <div class="row text-center" style="margin-top: 7px;">
                        <div class="col-md-4" style="text-align:start;line-height: 47px;">
                            <span id="ClientHeader" style="font-size:15px;color:#1B1B1C;font-weight:800">
                                ClientS
                            </span>
                        </div>
                        <div class="col-md-8" style="text-align:end;padding-right: 30px">
                            <div class="row">
                                <div class="col-md-6" style="text-align: end; position: relative;">
                                </div>
                                <div class="col-md-3" style="text-align: end; position: relative;">
                                    <a class="btn btn-xs ClientCusotmBtn" style="margin-left: 8%;margin-left: 8%; font-size: 1vw;" href="javascript:;" onclick="OpenAddNew1()">Import Patients</a>
                                </div>
                                <div class="col-md-3" style="text-align: end;margin: 0px ! important;  padding-right: 2px;">
                                    <a class="btn btn-xs ClientCusotmBtn" href="javascript:;" onclick="OpenAddNew()">
                                        <img src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/AddIcon.svg" alt="Add Client">
                                        <span style="margin-left: 3px;">Add Client</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    @*<h5>Client List</h5>
                    <div class="ibox-tools" style="float:left">
                        <a class="btn btn-xs CutomButton" style="margin-top:-9px;" href="javascript:;" onclick="OpenAddNew()">Add Client</a>

                        <div class="clearfix"></div>
                    </div>
                    <div class="input-group" style="float:left;margin-left: 5px;">
                        <a class="btn btn-xs CutomButton popup-act" style="margin-top:-9px;" href="javascript:;" onclick="OpenAddNew1()">Import Patients</a>
                    </div>*@
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-group col-md-2 pull-left">
                            <label>Office:</label>

                            @Html.DropDownList("ddFilterOffice", (System.Web.Mvc.SelectList)ViewBag.lstOffice, "All", new { @class = "form-control", onchange = "Filtration();", @style = "border: 1px solid #b6b2b2 !important;    border-radius: 4px !important;    background: #ffffffa3 !important;margin-top:8px" })
                        </div>
                    </div>
                    @*<input type="hidden" id="hdnPatientRequestId" />*@
                    <table id="myDataTable" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th class="hidden"><strong>ClientId</strong></th>
                                <th><strong>ClientName</strong></th>
                                <th><strong>CRNumber</strong></th>
                                @*  <th><strong>Address</strong></th>*@
                                <th><strong>Address</strong></th>
                                <th><strong>Phone</strong></th>
                                <th><strong>Zipcode</strong></th>
                                <th><strong>Office</strong></th>
                                <th style="width: 100px;" class="noExl">@CaregiverLite.Views.Resources.CareGiver.TableHeaderAction</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- LIST OF CLIENT END-->
<script src="~/Scripts/js/jquery-2.1.1.js"></script>
<script src="~/Scripts/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Scripts/js/oms.min.js"></script>

<script type="text/javascript">

    var tempMsg = '@TempData["Message"]';
    var tempFlag = '@TempData["error"]';

    if (tempFlag != "True") {
        if (tempMsg != "")
            toastr.success(tempMsg);
    }
    else {
        if (tempMsg != "")
            toastr.error(tempMsg);
    }
    $("#loading").hide();
    var oTable;

    $(document).ready(function () {

        $("#loading").show();
        var jquey = jQuery.noConflict();
        oTable = $('#myDataTable').DataTable({

            responsive: true,
            "dom": 'lfrtip',

            "bPaginate": true,
            "bServerSide": true,

            "bSortable": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sProcessing": "<div class=\"loading\" id=\"loading\" style=\"display: block;\"></div>"
            },
            "processing": true,

            "sAjaxSource": "GetClientDetailsList",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.getJSON(sSource, aoData, function (json) {
                    fnCallback(json);
                }).fail(function (jqxhr, textStatus, error) {
                    window.location.reload();
                });
            },
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "FilterOfficeId", "value": $('#ddFilterOffice option:selected').val() });
            },
            "fnDrawCallback": function (oSettings) {
                //Navigation validation
                var rowsPerPage = this.fnSettings()._iDisplayLength;
                var rowsToShow = this.fnSettings().fnRecordsDisplay();
                var table = $('#myDataTable').DataTable();
                $('#myDataTable thead th').css({
                    "background-color": "white" // Your desired color
                    // Text color
                });
                var info = table.page.info();
                var currentPageNo = info.page + 1;
                $("#ClientHeader").text("");
                $("#ClientHeader").text("Clients (" + rowsToShow + ")");

                $('#myDataTable tbody td').css('height', '40px');



                $('#myDataTable_filter input ').css({ 'border-radius': '5px', 'height': '36px' });


                $('#myDataTable_wrapper select ').css({ 'margin-top': '10px', 'border-radius': '5px', 'margin-bottom': '10px' });
                $('#myDataTable_filter label').contents().filter(function () {
                    return this.nodeType === 3; // This checks for text nodes
                }).remove();

                var searchInput = $('#myDataTable_filter input');
                searchInput.wrap('<div class="search-container" style="position: relative; display: inline-block; width: 100%;"></div>'); // Wrap the search input
                searchInput.css({
                    'padding-right': '30px' // Add padding to the right to make space for the icon
                });
                searchInput.after('<img src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/SearchIcon.png" class="search-icon" id="SearchIcon" alt="Search Icon" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">');

                $("#loading").hide();
            },
            "responsive": {
                "details": {
                    "type": 'column'
                }
            },
            "aoColumns": [

                            {
                                "sName": "ClientName",
                                "mRender": function (oObj) {
                                    return '<span>' + oObj["ClientName"] + '</span>';
                                }
                            },
                            {
                                "sName": "CRNumber",
                                "mRender": function (oObj) {
                                    return oObj["CRNumber"];
                                }
                            },
                            {
                                "sName": "Address",
                                "mRender": function (oObj) {
                                    return oObj["Address"];
                                }
                            },
                            {
                                "sName": "Phone",
                               // "bSortable": false,
                                "mRender": function (oObj) {
                                    return oObj["Phone"];
                                }
                            },
                             {
                                 "sName": "ZipCode",
                                // "bSortable": false,
                                 "mRender": function (oObj) {
                                     return oObj["ZipCode"];
                                 }
                             },
                              {
                                  "sName": "OfficeName",
                                //  "bSortable": false,
                                  "mRender": function (oObj) {
                                      return oObj["OfficeName"];
                                  }
                              },
                            {
                                "sName": "ClientId",
                                //"bSortable": false,
                                "mRender": function (oObj) {
                                    var actionhtml = '';
                                    @*actionhtml += '<a href="javascript:;" class="btn btn-xs btn-primary noExl" style="margin-top:5px; width:100%;" onclick="EditClientDetail(\'' + oObj["ClientId"] + '\');">EDIT</a>'
                                    actionhtml += '<a href="javascript:;" class="btn btn-xs btn-danger noExl" style="margin-top:5px; width:100%;" onclick="DeleteClientDetail(\'' + oObj["ClientId"] + '\');">@CaregiverLite.Views.Resources.CareGiver.ButtonDelete</a>'*@
                                    actionhtml += '<a href="javascript:;" title="Edit "   style="margin-top:5px;margin-left:17px; width:100%;height: 15px;width: 15px;" onclick=" onclick="EditClientDetail(\'' + oObj["ClientId"] + '\');"><img src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/EditIcon.png" alt="Delete Icon"></a>';
                                    actionhtml += '<a href="javascript:;"  title="Delete " style="margin-top:5px;margin-left:28px; width:100%;height: 15px;width: 15px;"onclick="DeleteClientDetail(\'' + oObj["ClientId"] + '\');"><img src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/DeleteIcon.png" alt="Delete Icon"> </a>';

                                    return actionhtml;
                                }
                            },


            ]
        });

        $('#myDataTable_filter input').unbind(); //Unbind direct search on each keypress
        $('#myDataTable_filter input').bind('keyup', function (e) { //Bind Keyup event that filter data only on "Enter" key.
            if (e.keyCode == 13) {
                oTable.search(this.value).draw();
            }
        });
        /* Init DataTables */
        $('.carousel').carousel({
            interval: false
        });

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $("#loading").hide();



    });

    function OpenAddNew() {
     //   $("#loading").show();
        $('#AddNewClient').load(INITURL + 'Client/AddClient', function () {
            sessionStorage.setItem("PartialView", "1");
            $('#myModal').modal({ backdrop: 'static', keyboard: false })
            $('#myModal').modal('show');
        });
    }
    function EditClientDetail(ClientId) {

        $("#loading").show();
        $('#EditClientDiv').load(INITURL + '/Client/EditClientDetail/' + ClientId, function () {
            sessionStorage.setItem("PartialView", "1");
            $('#myModalEdit').modal({ backdrop: 'static', keyboard: false })
            $('#myModalEdit').modal('show');
            $("#loading").hide();
        });
    }
    //Delete One
    function DeleteClientDetail(pClientId) {
        if (confirm('Are you sure you want to delete Client Details permanently ?')) {
            $("#loading").show();
            var url = INITURL + '/Client/DeleteClientDetail';

            $.ajax({
                url: url,
                data: { ClientId: pClientId },
                cache: false,
                type: 'POST',
                async: false,
                success: function (data) {

                    if (data == "Success") {
                       // toastr.success("Clients deleted successfully");
                        window.location = INITURL + '/Client/Index';
                    }

                },
                error: function (reponse) {
                    //alert("error : " + reponse);
                    $("#loading").hide();
                }
            });
        }
    }




    function Filtration() {

        oTable.search($('#myDataTable').val()).draw();
    }


	 function OpenAddNew1() {
        $("#loading").show();
        $('#ClientRegisters').load(INITURL + 'Client/ClientRegister', function () {
            sessionStorage.setItem("PartialView", "1");
            $('#ClientRegisterData').modal('show');
            $("#loading").hide();
        });
    }
	 $(document).on('click', '#SearchIcon', function (event) {
	     event.stopPropagation();  // Prevents the outer div's click event
	     var query = $('#myDataTable_filter input').val(); // Get the value from the search input
	     $('#myDataTable').DataTable().search(query).draw(); // Trigger the DataTable search

	 });

</script>
