@model CaregiverLite.Models.CareGiverModel

<div class="modal fade" id="myModalCaregiverProfileVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 10001;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" onclick="CloseProfileVideoModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <iframe src="" id="popupCaregiverProfilevideoid" height="360" width="100%" frameborder="0" scrolling="yes" allowfullscreen></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="col-md-6">
    <img src="@Model.ProfileImage" id="imgProfileImage" class="img-responsive" style="width: 270px; height: 210px;">
    @if (!string.IsNullOrEmpty(Model.ProfileVideo))
    {
        <br />
        <a href="javascript:void(0);" onclick="OpenVideoCaregiverProfilePopup()">Click here to see video</a>
    }

</div>

<div class="col-md-6" style="z-index: 1001;">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td style="width:120px;font-weight:bold;">FirstName</td>
                <td style="word-break: break-all;">
                    @Model.FirstName
                    <input type="hidden" id="hdnNuseId" value=@Model.NurseId />
                </td>
            </tr>

            <tr>
                <td style="width:120px;font-weight:bold;">LastName</td>
                <td style="word-break: break-all;">
                    @Model.LastName
                    <input type="hidden" id="hdnNuseId" value=@Model.NurseId />
                </td>

            </tr>

            @*<tr>
                    <td style="width:120px;font-weight:bold;">Full Name</td>
                    <td style="word-break: break-all;">
                        @Model.NurseFullName
                        <input type="hidden" id="hdnNuseId" value=@Model.NurseId />
                    </td>
                </tr>*@

            <tr>
                <td style="font-weight:bold;">@CaregiverLite.Views.Resources.CareGiver.TableHeaderEmail</td>
                <td style="word-break: break-all;">
                    @Model.Email
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold;">@CaregiverLite.Views.Resources.CareGiver.TableHeaderPhone</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td style="font-weight:bold;">@CaregiverLite.Views.Resources.CareGiver.TableHeaderAddress</td>
                <td style="word-break: break-all;">@Model.Address</td>
            </tr>
            <tr>
                <td style="font-weight:bold;">@CaregiverLite.Views.Resources.CareGiver.TableHeaderZipCode</td>
                <td>@Model.ZipCode</td>
            </tr>
            <tr>
                <td style="font-weight:bold;">@CaregiverLite.Views.Resources.CareGiver.TableHeaderEducation</td>
                <td>@Model.Education</td>
            </tr>
            <tr>
                <td style="font-weight:bold;">@CaregiverLite.Views.Resources.CareGiver.TableHeaderServices</td>
                <td>@Model.ServiceNames</td>
            </tr>
            <tr>
                <td style="font-weight:bold;">@CaregiverLite.Views.Resources.CareGiver.TableHeaderUserName</td>
                <td>@Model.Username</td>
            </tr>
            <tr>

                @*<td style="font-weight:bold;">@CaregiverLite.Views.Resources.CareGiver.TableHeaderPassword</td>
                <td style="display:none;" id="ShowPass">
                    <span>@Model.Password</span>
                    <span style="position: absolute; right: 16px;height: 40px;">
                        <button class="btn btn-link" style="position: relative; top: -7px;"><i class="fa fa-eye" aria-hidden="true" onclick="hidePassword()"></i></button>
                    </span>
                </td>*@

                @*<td style="display:block;" id="hidePass">
                    <span>**********</span>
                    <span style="position: absolute; right: 16px;height: 40px;">
                        <button class="btn btn-link" style="position: relative; top: -7px;"><i class="fa fa-eye-slash" aria-hidden="true" onclick="showPassword()"></i></button>
                    </span>
                </td>*@
            </tr>
            <tr>
                <td style="font-weight:bold;">@CaregiverLite.Views.Resources.CareGiver.TableHeaderTimezone</td>
                <td>@Model.Timezone</td>
            </tr>
            <tr>
                <td style="font-weight:bold;">@CaregiverLite.Views.Resources.CareGiver.TableHeaderOffice</td>
                <td>@Model.Office</td>
            </tr>

            <tr>
                <td style="font-weight:bold;">Payroll Id</td>
                <td>@Model.PayrollId</td>
            </tr>

            <tr>
                <td style="font-weight:bold;">Allow For One to One Chat</td>
                <td>
                    @if (@Model.IsAllowOneToOneChat)
                    {
                        <i class='fa fa-check'></i>
                    }
                    else
                    {
                        <i class='fa fa-times'></i>
                    }
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold;">Allow For Patient Chat Room</td>
                <td>
                    @if (@Model.IsAllowPatientChatRoom)
                    {
                        <i class='fa fa-check'></i>
                    }
                    else
                    {
                        <i class='fa fa-times'></i>
                    }
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold;">Allow For Group Chat</td>
                <td>
                    @if (@Model.IsAllowGroupChat)
                    {
                        <i class='fa fa-check'></i>
                    }
                    else
                    {
                        <i class='fa fa-times'></i>
                    }
                </td>
            </tr>
            <tr>
                <td style="font-weight:bold;">Allow For Create Group Chat</td>
                <td>
                    @if (@Model.IsAllowToCreateGroupChat)
                    {
                        <i class='fa fa-check'></i>
                    }
                    else
                    {
                        <i class='fa fa-times'></i>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
@if (ViewContext.Controller.HasRoles("SuperAdmin") || ViewContext.Controller.HasRoles("Admin") || ViewContext.Controller.IsSysAdmin() || ViewContext.Controller.HasRoles("OrgSuperAdmin"))
{
    <div class="col-md-12" style="margin-bottom: 5px;" id="dvedit">
        <a href="javascript:;" class="btn btn-xs btn-primary pull-right" style="margin-left:10px;border-radius: 4px;" onclick="OpenEditPopup(@Model.NurseId);">@CaregiverLite.Views.Resources.CareGiver.ButtonEditProfile</a>
        <a href="javascript:;" class="btn btn-xs btn-primary pull-right" style="border-radius: 4px;" onclick="ViewCareGiverReport();">Reports</a>

    </div>
}

<div class="clearfix"></div>
<div class="col-md-12">
    <div style="background: #1DCA75;color:#fff; padding: 6px 12px 0;">
        <label for="Certificates" style="font-size: 18px;">Certificates</label>
    </div>
    @foreach (var item in Model.Certificate)
    {
        if (@item != null)
        {
            <div class="col-md-3" style="margin-top:10px;">
                <img src='@item' id="imgCertificateImage" class="img-responsive" style="width: 200px; height: 120px;">
            </div>
        }
    }

    @if (Model.Certificate.Count == 0)
    {

        <div style="padding: 6px 12px 0;">
            <label for="Certificates" style="font-size: 18px;">no any certificate available</label>
        </div>
    }
</div>

<script type="text/javascript">
    debugger;
    var VarActive = '@Model.IsActive';
   
    /*var ischedked = VarActive.toLowerCase();*/
    if (VarActive == "True") {
        $('#toggleSwitch').prop('checked', true);
    }
    else {
        $('#toggleSwitch').prop('checked', false);
    }
    function OpenEditPopup(id) {
        $("#loading").show();
        $('#EditPanel').load(INITURL +'/CareGiver/EditCareGiver/' + id, function () {
            sessionStorage.setItem("PartialView", "1");
            $('#modalEditCareGiver').modal('show');
        });
    }

    $(document).ready(function () {
        $("#loading").hide();

        //var IsEdit = localStorage.getItem("IsEdit");

        var pathname = window.location.pathname;

        //if(IsEdit == 0)
        //{
        if (pathname == "/PatientRequest/PatientRequest") {
            $('#dvedit').hide();

        } else {
            attachToggleListener();
        }
    });

	function ViewCareGiverReport()
        {
            debugger;

            //$("#main_div2").css('display', 'none');


            databind(1);

            $("#loading").show();
            //$('#ViewCareGiverReport').load(INITURL + 'CareGiver/CareGiverIndiVidualReports', function () {
            //    sessionStorage.setItem("PartialView", "1");
           // var result = databind(1);

           // document.getElementById("MilageReport").innerHTML = result;

          //  $("#MilageReport").html(result);



            $("#CaregiverIndividualReport").css('display', 'block');


               $("#CareGiverReportdt").css("width", "900px");
               $('#CareGiverReport').modal('show');

               $("#loading").hide();
            //});


          //  $("#main_div2").css('display', 'none');

           // $("#CareGiverReport").css('display', 'block');

        }


        debugger;
        function databind(Days) {
            debugger;

            var NurseId = '@Model.NurseId';
            debugger;
            var url = INITURL+'/CareGiver/LoadAllIndividualCareGiverReportData?NurseId=' + NurseId + '&day=' + Days
            console.log(url);
            var result;
            $.ajax({
                 url: url,
                 data: $('#fmaddpatientrequest').serialize(),
                 cache: false,
                 async: false,
                 datatype: 'json',
                 traditional: true,
                 type: 'post',
                 success: function (data) {
                     result = data;

                     //        <!-- debugger; -->
                     //        <!-- var ptlat = $("#patientLatitude").val(); -->
                     //        <!-- var ptLong = $("#patientLongitude").val(); -->



                     str = "";
                     if (result.GetAllVisitReportCaregiver.length> 0) {
                         debugger;

                         for (var k = 0; k < result.GetAllVisitReportCaregiver.length; k++) {

                             str += "<tr>" +
                                 "<td>" + result.GetAllVisitReportCaregiver[k].NoOfVists + "</td>" +
                                 "<td>" + result.GetAllVisitReportCaregiver[k].NoOfVisitsCompleted + "</td>" +
                                 "<td>" + result.GetAllVisitReportCaregiver[k].NoOfVisitsCancelled + "</td>" +
                                 "<td>" + result.GetAllVisitReportCaregiver[k].CheckInTotalTime + "</td>" +
                                 "<td>" + result.GetAllVisitReportCaregiver[k].DrivingTotalDistance + "</td>" +
                                 //"<td>Pramendra </td>" +
                                 //"<td>Amrendra </td>" +
                                 "</tr>";

                         }
                     } else { str = "<tr><td colspan='6'>" + "Not Found" + "</td></tr>"; }




                     // return str;
                     document.getElementById("MilageReport").innerHTML = str;


                     str2 = "";
                     if (result.GetCaregiverVisitsData.length > 0) {
                         debugger;

                         for (var k = 0; k < result.GetCaregiverVisitsData.length; k++) {

                             str2 += "<tr>" +
                                 "<td>" + result.GetCaregiverVisitsData[k].PatientName + "</td>" +
                                 "<td>" + result.GetCaregiverVisitsData[k].Date + "</td>" +
                                 //"<td>" + result.GetCaregiverVisitsData[k].FromTime + "</td>" +
                                 //"<td>" + result.GetCaregiverVisitsData[k].ToTime + "</td>" +
                                 "<td>" + result.GetCaregiverVisitsData[k].status + "</td>" +
                                 "<td>" + result.GetCaregiverVisitsData[k].CheckInTotalTime + " </td>" +
                                 "<td>" + result.GetCaregiverVisitsData[k].TotalTravelTime + "</td>" +
                                 //"<td>Amrendra </td>" +
                                 "</tr>";

                         }
                     } else { str2 = "<tr><td colspan='6'>" + "Not Found" + "</td></tr>"; }


                     // return str;
                     document.getElementById("caregiverdetails").innerHTML = str2;

                 }

            //  $("#loading").hide();
            //<!-- }, -->
            //    <!-- error: function (reponse) { -->
            //        <!-- alert("error : " + reponse); -->
            //        <!-- $("#loading").hide(); -->
            //    <!-- } -->
             });



        }






    function OpenVideoCaregiverProfilePopup() {
        $('.loading').show();
        $("#popupCaregiverProfilevideoid").attr("src", '@Model.ProfileVideo');
        $("#myModalCaregiverProfileVideo").modal('show');
        $('.loading').hide();
    }

    function CloseProfileVideoModal() {
        $('#myModalCaregiverProfileVideo').modal('hide');
    }

    function showPassword() {
        $("#hidePass").hide();
        $("#ShowPass").show();
    }
    function hidePassword() {
        $("#ShowPass").hide();
        $("#hidePass").show();
    }



    // Function to debounce the API call
    function debounce(func, delay) {
        let debounceTimer;
        return function () {
            const context = this;
            const args = arguments;
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(() => func.apply(context, args), delay);
        };
    }

    // Function to handle the API call (debounced version)
    const debouncedActiveDeactiveCustomer = debounce(ActiveDeactiveCustomer, 300); // 300ms delay

    // Function to handle the API call for activation/deactivation
    function handleToggleSwitchChange() {
        debugger;
        if (toggleSwitch.checked) {
        /*if (VarActive) {*/
            //toggleText.innerText = "Active";
            //debouncedActiveDeactiveCustomer(true);
            $('#ConfirmationModelActive').modal('show');
            // Activate the patient, debounced
        } else {
            $('#ConfirmationModel').modal('show');  // Show confirmation for Inactive
        }
    }

    // Attach the event listener for toggle switch
    function attachToggleListener() {
        debugger;
        // First, detach any previous listeners to avoid duplication
        $(toggleSwitch).off('change');

        // Now, re-attach the listener
        $(toggleSwitch).on('change', handleToggleSwitchChange);
    }

    // Initial event listener attachment
   // attachToggleListener();

    // Confirmation modal actions
    $('.confirmbtn').off('click').on('click', function () {
        debugger;

        // If "Yes, Inactive" is clicked
        toggleSwitch.checked = false; // Set the toggle to inactive
        toggleText.innerText = "Inactive";  // Update the label text
        debouncedActiveDeactiveCustomer(false); // Deactivate the patient, debounced
        $('#ConfirmationModel').modal('hide');  // Hide the confirmation modal
    });


    $('.confirmbtnActive').off('click').on('click', function () {
        debugger;

        // If "Yes, Inactive" is clicked
        toggleSwitch.checked = true; // Set the toggle to inactive
        toggleText.innerText = "active";  // Update the label text
        debouncedActiveDeactiveCustomer(true); // Deactivate the patient, debounced
        $('#ConfirmationModelActive').modal('hide');  // Hide the confirmation modal
    });

    // Cancel button inside the confirmation modal
    $('.cancelbtn').click(function () {
        debugger;

        // If "No, Go Back" is clicked
        toggleSwitch.checked = true; // Keep the toggle as active
        toggleText.innerText = "Active";  // Keep the label as "Active"
        $('#ConfirmationModel').modal('hide');  // Hide the confirmation modal
    });

    $('.cancelbtnActive').click(function () {
        debugger;

        // If "No, Go Back" is clicked
        toggleSwitch.checked = true; // Keep the toggle as active
        toggleText.innerText = "Active";  // Keep the label as "Active"
        $('#ConfirmationModelActive').modal('hide');  // Hide the confirmation modal
    });

    // Detach and re-attach the listener when the modal is hidden or shown
    $('#ConfirmationModel').on('hidden.bs.modal', function () {
        attachToggleListener(); // Re-attach the listener when modal is hidden
    });

    // AJAX call to activate or deactivate the customer (unchanged)
    function ActiveDeactiveCustomer(IsActive) {
        debugger;
        // $("#loading").show();
        var url = INITURL + '/Patients/ActiveDeactiveCustomer';
        //debugger;
        //alert('fsdfds');
     /*   return;*/
        $.ajax({
            url: url,
            data: { id: '@Model.NurseId', PageName: "Nurse", IsActive: IsActive },
            cache: false,
            type: 'POST',
            async: true,  // Allow non-blocking behavior
            success: function (data) {
                debugger;
                if (data == "Success") {
                    if (IsActive) {
                        toastr.success('@Model.Name' + " has been successfully Activated");
                    } else {
                        toastr.success('@Model.Name' + " has been successfully Inactive");
                    }
                } else {
                    toastr.error("Process denied");

                }
                $("#loading").hide();
            },
            error: function (response) {
                toastr.error("Error occurred: " + response);
                $("#loading").hide();
            }
        });
    }



</script>