
@{
    ViewBag.Title = "Scheduler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Schedularbtn {
        margin-top: 5px;
        width: 100%;
        border-radius: 4px;
        background-color: #FFFFFF !important;
        border: 1px solid #1B4066;
        color: #1B4066;
        text-transform: none;
        font-weight: bold;
        letter-spacing: 0px;
    }

    .items-badge {
        /*align-self: flex-start;
        border-radius: 6px;
        background-color: #fff;
        color: #1b4066;
        padding: 5px 7px;
        font: 600 12px Open Sans, sans-serif;
        border: 1px solid #1b4066;*/
        align-self: flex-start;
        border-radius: 18px;
        color: #239450;
        padding: 6px 10px;
        font: 600 12px Open Sans, sans-serif;
        background-color: #D4FFE8;
    }



    .items-badgeInActive {
        align-self: flex-start;
        border-radius: 18px;
        color: #E24B4B;
        padding: 6px 10px;
        font: 600 12px Open Sans, sans-serif;
        background-color: #FFDEDE;
    }



    .toggle-container {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: -27px;
    }

    /*.switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 24px; =
        margin-left: 70%;
    }*/

    .switch {
        position: relative;
        display: inline-block;
        width: 48px; /* reduced width */
        height: 24px; /* reduced height */
        margin-top: -8px;
        margin-left: 5px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 28px; /* adjusted to match new height */
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 18px; /* adjusted height */
            width: 18px; /* adjusted width */
            left: 4px; /* adjusted position */
            bottom: 3px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }

    input:checked + .slider {
        background-color: #4CAF50;
    }

        input:checked + .slider:before {
            transform: translateX(22px); /* adjusted translation */
        }

    /*#toggleText {
        font-weight: bold;
        margin-top: -7px;
    }*/

    #toggleText {
        font-weight: bold;
        margin-top: -7px;
        margin-left: 6px;
    }

    #toggleText1 {
        font-weight: bold;
        margin-top: -7px;
        margin-left: 216px;
        ;
    }

    .confirmbtn {
        background-color: #e6f4ea;
        color: #1d9b6c;
        border: 1px solid;
        border-radius: 4px;
        height: 40px;
        font-weight: bold;
    }

        .confirmbtn:hover {
            background-color: #d1ecd9;
        }

    .cancelbtn {
        background-color: #f4e6e6;
        color: #d93025;
        border: 1px solid;
        border-radius: 4px;
        height: 40px;
        font-weight: bold;
    }

        .cancelbtn:hover {
            background-color: #ebd2d2;
        }



    .cancelbtnActive {
        background-color: #e6f4ea;
        color: #1d9b6c;
        border: 1px solid;
        border-radius: 4px;
        height: 40px;
        font-weight: bold;
    }

        .cancelbtnActive:hover {
            background-color: #d1ecd9;
        }

    .confirmbtnActive {
        background-color: #f4e6e6;
        color: #d93025;
        border: 1px solid;
        border-radius: 4px;
        height: 40px;
        font-weight: bold;
    }

        .confirmbtnActive:hover {
            background-color: #ebd2d2;
        }

    .Schedularbtn:hover {
        background-color: #092C44 !important;
        color: white !important;
    }
</style>
<!-- ADD Sheduler POPUP START -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" id="modalAddPopup">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">@CaregiverLite.Views.Resources.Schedulers.ButtonAddScheduler</h4>
            </div>
            <div class="modal-body row" id="AddScheduler">
            </div>
        </div>
    </div>
</div>

<!-- EDIT Sheduler POPUP START -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" id="modalEditPopup">
        <div class="modal-content" style="width: 125%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">@CaregiverLite.Views.Resources.Schedulers.ButtonEditScheduler</h4>
                <div class="toggle-container">
                    <div style="display:flex;margin-left:48%;margin-top: 1%;">
                        <span id="toggleText">Inactive</span>
                        <label class="switch">
                            <input type="checkbox" id="toggleSwitch">
                            <span class="slider"></span>
                        </label>
                        <span id="toggleText">Active</span>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="ConfirmationModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" id="modalAddPopup">
                    <div class="modal-content" id="deleteModal" style="width: 366px;    height: 141px;    border-radius: 8px;    bottom: -151px;">
                        <p style="padding:23px 59px 0px 40px; margin-left:-22px; font-style: normal; font-size: 15px;"><strong style="font-weight: 800; color: #1B4066;">Are you sure you want to inactive this patient ?</strong></p>
                        <button class="cancelbtn" style="margin-left: 43%;">No, Go Back</button>
                        <button class="confirmbtn">Yes, Inactive</button>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ConfirmationModelActive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm" id="modalAddPopup">
                    <div class="modal-content" id="deleteModal" style="width: 366px;    height: 141px;    border-radius: 8px;    bottom: -151px;">
                        <p style="padding:23px 59px 0px 40px; margin-left:-22px; font-style: normal; font-size: 15px;"><strong style="font-weight: 800; color: #1B4066;">Are you sure you want to active this Caregiver ?</strong></p>
                        <button class="cancelbtnActive" style="margin-left: 43%;">No, Go Back</button>
                        <button class="confirmbtnActive">Yes, active</button>
                    </div>
                </div>
            </div>
            <div class="modal-body row" id="EditPanel">
            </div>
        </div>
    </div>
</div>

<!-- ADD Group(s) POPUP START -->
<div class="modal fade" id="modalGroupAssignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Assign Patient Chat Room(s)</h4>
            </div>
            <div class="modal-body row" id="AssignGroupToScheduler">
            </div>
        </div>
    </div>
</div>

<!-- ADD Office(s) POPUP START -->
<div class="modal fade" id="modalOfficeAssignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Assign Office(s)</h4>
            </div>
            <div class="modal-body row" id="AssignOfficeToScheduler">
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight containerstyle">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="height: 88px ">
                    @*<h5>@CaregiverLite.Views.Resources.Schedulers.HeaderSchedulerList</h5>
                        <div class="ibox-tools" style="float:left">
                            <a class="btn btn-xs CutomButton" style="margin-top:-9px;" href="javascript:;" onclick="OpenAddNew()">Add Scheduler</a>
                            <div class="clearfix"></div>
                        </div>*@
                    <div class="row" style="margin-top: 17px;text-align:start;">
                        <div class="col-md-6">
                            <span id="SchedularHeader" style="font-size:15px;color:#1B1B1C;font-weight:800">
                                Scheduler
                            </span>
                        </div>
                        <div class="col-md-6" style="text-align:end;">
                            <a class="btn btn-xs CutomButton" style="margin-top: -10px;float: right;background-color: #092C44;color: white;padding: 10px;height: 42px;font-size: 14px;" href="javascript:;" onclick="OpenAddNew()">
                                <img src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/AddIcon.svg" alt="Add caregiver">
                                @* <span style="margin-left: 3px;">@CaregiverLite.Views.Resources.CareGiver.ButtonAddCareGiver</span>*@
                                <span style="margin-left: 3px;">Add Scheduler</span>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        @if (ViewContext.Controller.HasRoles("SuperAdmin") || ViewContext.Controller.IsSysAdmin())
                        {
                            <div class="form-group col-md-2 ">

                                <label>Organization:</label>
                                <br />

                                @Html.DropDownList("ddFilterOrganisation", (System.Web.Mvc.SelectList)ViewBag.lstOrganisations, "All", new { @class = "form-control customdropDown", onchange = "Filtration();", @style = "border: 1px solid #b6b2b2 !important;    border-radius: 4px !important;   margin-top:8px" })

                            </div>
                        }
                        <div class="form-group col-md-2 ">
                            <div class="form-group filter-option" style="margin-left: -2px;">
                                <label>Office: </label>
                                <div class="form-group">

                                    @Html.DropDownList("OfficeId", (SelectList)ViewBag.OfficeDropDownList, "All", new { @class = "form-control customdropDown", @style = "border: 1px solid #b6b2b2 !important;    border-radius: 4px !important;   margin-top:8px" })

                                    @*@Html.DropDownList("OfficeId", (SelectList)ViewBag.OfficeDropDownList, "All", new { @class = "form-control" })*@

                                    @*@Html.DropDownList("TruckID", (SelectList)ViewBag.lstTrucks, "All", new { @class = "form-control" })*@
                                </div>


                            </div>
                        </div>
                        <div class="form-group col-md-2 ">
                            <label>Status</label>
                            <select id="ddFilterActiveInactive" name="ddFilterActiveInactive" class="form-control customdropDown" onchange="Filtration();" style="width: 100%;height:34px;border-color:#e5e6e7;margin-top:8px;border-radius:4px">
                                <option value="2">All</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>

                    </div>
                    <table id="myDataTable" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@CaregiverLite.Views.Resources.Schedulers.TableHeaderFirstName</th>
                                <th>@CaregiverLite.Views.Resources.Schedulers.TableHeaderLastName</th>
                                <th>@CaregiverLite.Views.Resources.Schedulers.TableHeaderUserName</th>
                                <th>@CaregiverLite.Views.Resources.Schedulers.TableHeaderEmail</th>
                                <th>Office(s)</th>
                                <th style="width: 0px;">Assign Patient Chat Room</th>
                                <th style="width: 100px;">Assign Office</th>
                                <th style="width: 100px;">@CaregiverLite.Views.Resources.Schedulers.TableHeaderAction</th>
                                <th><strong>UserStatus</strong></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/jquery-2.1.1.js"></script>
<script src="~/Scripts/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Scripts/js/oms.min.js"></script>
<script>
    var tempMsg = '@TempData["Message"]';
    if (tempMsg != "")
        toastr.success(tempMsg);

    var SchedulerName = "";
    var role = '@Session["role"]';

    var oTable;
    $(document).ready(function () {

        $("#loading").show();
        var jquey = jQuery.noConflict();
        oTable = $('#myDataTable').dataTable({
            responsive: true,
            "dom": 'lfrtip',
            "bPaginate": true,
            "bServerSide": true,
            "bSortable": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sProcessing": "<div class=\"loading\" id=\"loading\" style=\"display: block;\"></div>"
            },
            "processing": true,
            "sAjaxSource": "GetSchedulerList",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "ddFilterOffice", "value": $('#OfficeId').val() });
				aoData.push({ "name": "FilterOrganisationId", "value": $('#ddFilterOrganisation option:selected').val() });
				aoData.push({ "name": "FilterActiveStatus", "value": $('#ddFilterActiveInactive option:selected').val() });

            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.getJSON(sSource, aoData, function (json) {
                    fnCallback(json);
                }).fail(function (jqxhr, textStatus, error) {
                    window.location.reload();
                });
            },
            "fnDrawCallback": function (oSettings) {
                //Navigation validation
                var rowsPerPage = this.fnSettings()._iDisplayLength;
                var rowsToShow = this.fnSettings().fnRecordsDisplay();
                var table = $('#myDataTable').DataTable();
                var info = table.page.info();
                var currentPageNo = info.page + 1;
                $("#loading").hide();
                $("#SchedularHeader").text("");
                $("#SchedularHeader").text("Scheduler  (" + rowsToShow + ")");
                $('#myDataTable tbody td').css('height', '40px');


                $('#myDataTable_filter input ').css({ 'border-radius': '5px', 'height': '36px' });
                $('#myDataTable_wrapper select ').css({ 'margin-top': '10px', 'border-radius': '5px', 'margin-bottom': '10px' });
                $('#myDataTable_filter label').contents().filter(function () {
                    return this.nodeType === 3; // This checks for text nodes
                }).remove();

                var searchInput = $('#myDataTable_filter input');
                searchInput.wrap('<div class="search-container" style="position: relative; display: inline-block; width: 100%;"></div>'); // Wrap the search input
                searchInput.css({
                    'padding-right': '30px' // Add padding to the right to make space for the icon
                });
                searchInput.after('<img src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/SearchIcon.png" class="search-icon" id="SearchIcon" alt="Search Icon" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">');

                $("#loading").hide();
            },
            "responsive": {
                "details": {
                    "type": 'column'
                }
            },
            "aoColumns": [
                            {
                                className: 'control',
                                orderable: false,
                                targets: 0,
                                "mRender": function (oObj) {
                                    return '';
                                }
                            },
                            {
                                "sName": "FirstName",
                                "mRender": function (oObj) {
                                    return '<span>' + oObj["FirstName"] + '</span>';
                                }
                            },
                            {
                                "sName": "LastName",
                                "mRender": function (oObj) {
                                    return oObj["LastName"];
                                }
                            },
                            {
                                "sName": "UserName",
                                "mRender": function (oObj) {
                                    return oObj["UserName"];
                                }
                            },
                            {
                                "sName": "Email",
                                "mRender": function (oObj) {
                                    return oObj["Email"];
                                }
                            },
                               {
                                   "sName": "OfficeName",
                                   "mRender": function (oObj) {

                                       if (oObj["OfficeName"] == '')
                                       {
                                           return '-';
                                       }

                                       var OfficeNames = oObj["OfficeName"];
                                       OfficeNames = OfficeNames.replace(/,/g, '<br>');

                                       // return oObj["OfficeName"];
                                       return OfficeNames;
                                   }
                               },

                            {
                                "sName": "SchedulerId",
                                "bSortable": false,
                                "mRender": function (oObj) {
                                    var actionhtml = '';
                                    actionhtml += '<a href="javascript:;" class="btn btn-xs btn-primary Schedularbtn"  onclick="OpenAssignGroupModal(\'' + oObj["UserId"] + '\' , \'' + oObj["FirstName"] + '\',\'' + oObj["LastName"] + '\',\'' + oObj["QuickBloxId"] + '\',\'' + oObj["Email"] + '\');">Assign Patient Chat Room</a>'
                                    return actionhtml;
                                }
                            },
                              {
                                  "sName": "SchedulerId",
                                  "bSortable": false,
                                  "mRender": function (oObj)
                                  {

                                      if (oObj["FirstName"] == '') {
                                          return '-';
                                      }

                                      var actionhtml = '';
                                      SchedulerName = oObj["FirstName"];

                                      if (role != 'Scheduler') {

                                          if (oObj["FirstName"].includes("'")) {

                                              actionhtml += '<a href="javascript:;" class="btn btn-xs btn-primary Schedularbtn" onclick="OpenAssignOfficeModal(\'' + oObj["UserId"] + '\' , \'' + '_' + '\',\'' + oObj["LastName"] + '\',\'' + oObj["Email"] + '\');">Assign Office</a>'
                                          }
                                          else {
                                              actionhtml += '<a href="javascript:;" class="btn btn-xs btn-primary Schedularbtn"   onclick="OpenAssignOfficeModal(\'' + oObj["UserId"] + '\' , \'' + oObj["FirstName"] + '\',\'' + oObj["LastName"] + '\',\'' + oObj["Email"] + '\');">Assign Office</a>'

                                          }
                                      }
                                      else {
                                          actionhtml = '_';
                                      }

                                      return actionhtml;
                                  }
                              },
                                {
                                    "sName": "SchedulerId",
                                    "bSortable": false,
                                    "mRender": function (oObj)
                                    {
                                        var actionhtml = '';
                                        if (role != 'Scheduler')
                                        {
                                           @*actionhtml += '<a href="javascript:;" class="btn btn-xs btn-danger" style="margin-top:5px; width:100%;" onclick="DeleteScheduler(\'' + oObj["SchedulerId"] + '\',\'' + oObj["UserName"] + '\');">@CaregiverLite.Views.Resources.CareGiver.ButtonDelete</a>'
                                            actionhtml += '<a href="javascript:;" class="btn btn-xs btn-primary" style="margin-top:5px; width:100%;" onclick="EditScheduler(\'' + oObj["SchedulerId"] + '\');">@CaregiverLite.Views.Resources.CareGiver.ButtonEditProfile</a>'*@

                                            actionhtml += '<a href="javascript:;"  title="Edit"   style="margin-top:5px;margin-left:17px; width:100%;height: 15px;width: 15px;"  onclick="EditScheduler(\'' + oObj["SchedulerId"] + '\');"><img src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/EditIcon.png" alt="Edir Icon"></a>';
                                            actionhtml += '<a href="javascript:;"  title="Delete"   style="margin-top:5px;margin-left:28px; width:100%;height: 15px;width: 15px;" onclick="DeleteScheduler(\'' + oObj["SchedulerId"] + '\',\'' + oObj["UserName"] + '\');"><img src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/DeleteIcon.png" alt="Delete Icon"> </a>';

                                        }
                                        else {
                                            actionhtml = '_';
                                        }
                                        return actionhtml;
                                    }
                                },
                                {
                                    "sname": "IsActive",
                                    "bSortable": false,
                                    "mRender": function (oObj) {
                                        if (oObj["IsActive"] != "False") {

                                            return '<span class="items-badge">Active</span>'
                                        }
                                        else {
                                            return '<span class="items-badgeInActive">Inactive</span>'
                                        }
                                        //  return oObj["IsActive"];
                                    }
                                }

            ]
        });

        $('#myDataTable_filter input').unbind(); //Unbind direct search on each keypress
        $('#myDataTable_filter input').bind('keyup', function (e) { //Bind Keyup event that filter data only on "Enter" key.
            if (e.keyCode == 13) {
                oTable.fnFilter(this.value);
            }
        });
        /* Init DataTables */
        $('.carousel').carousel({
            interval: false
        });

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $("#loading").hide();
    });


    $('#OfficeId').bind('change', function (e) {

        //debugger;
        // $('#OfficeId').val();
        oTable.fnFilter('');
    });


$('#ddFilterOrganisation').bind('change', function (e) {

        //debugger;
        // $('#OfficeId').val();
        oTable.fnFilter('');
})
$('#ddFilterActiveInactive').bind('change', function (e) {

    //debugger;
    // $('#OfficeId').val();
    oTable.fnFilter('');
})

    function DeleteScheduler(schedulerid,username) {
        if (confirm('Are you sure you want to delete Scheduler?')) {
            $("#loading").show();
            var url = INITURL + '/Schedulers/DeleteScheduler';

            $.ajax({
                url: url,
                data: { SchedulerId: schedulerid, UserName: username },
                cache: false,
                type: 'POST',
                async: false,
                success: function (data) {
                    if (data == "Success") {
                        window.location = INITURL + '/Schedulers/Schedulers';
                    }
                    $("#loading").hide();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                    $("#loading").hide();
                }
            });
        }
    }

    //function EditScheduler(schedulerid) {
    //        $("#loading").show();
    //        var url = INITURL + '/Schedulers/EditScheduler';

    //        $.ajax({
    //            url: url,
    //            data: { SchedulerId: schedulerid },
    //            cache: false,
    //            type: 'POST',
    //            async: false,
    //            success: function (data) {
    //                if (data == "Success") {
    //                    window.location = INITURL + '/Schedulers/Schedulers';
    //                }
    //                $("#loading").hide();
    //            },
    //            error: function (reponse) {
    //                alert("error : " + reponse);
    //                $("#loading").hide();
    //            }
    //        });

    //}


    function EditScheduler(schedulerid) {

        $("#loading").show();
        $('#EditPanel').load(INITURL + '/Schedulers/EditScheduler/' + schedulerid, function () {
            sessionStorage.setItem("PartialView", "1");
            $('#myModal2').modal('show');
            $("#loading").hide();
        });
    }

    function OpenAddNew() {
        $("#loading").show();

        console.log(INITURL);
        // $('#AddScheduler').load(INITURL + 'Schedulers/AddScheduler', function () {
        $('#AddScheduler').load(INITURL + 'Schedulers/AddScheduler', function () {
            sessionStorage.setItem("PartialView", "1");
            $('#myModal').modal('show');

            $("#loading").hide();
        });
    }

    function OpenAssignGroupModal(userid, FirstName, LastName, quickbloxid, email) {
        $("#loading").show();
        var name = FirstName + ' ' + LastName;
        var url = INITURL + 'Schedulers/AssignGroup?UserId=' + userid + '&Name=' + name + '&QuickBloxId=' + quickbloxid + '&Email=' + email;
        $('#AssignGroupToScheduler').load(encodeURI(url), function () {
            sessionStorage.setItem("PartialView", "1");
            $('#modalGroupAssignment').modal('show');
            $("#loading").hide();
        });
    }

    function OpenAssignOfficeModal(userid, FirstName, LastName, email) {
        $("#loading").show();

        var name = "";

        if (FirstName == '_') {
            name = SchedulerName + ' ' + LastName;
        }
        else {
            name = FirstName + ' ' + LastName;
        }
        var url = INITURL + 'Schedulers/AssignOfficeToScheduler?UserId=' + userid + '&Name=' + name + '&Email=' + email;

        $('#AssignOfficeToScheduler').load(encodeURI(url), function () {
            sessionStorage.setItem("PartialView", "1");
            $('#modalOfficeAssignment').modal('show');
            $("#loading").hide();
        });
    }
    $(document).on('click', '#SearchIcon', function (event) {
        event.stopPropagation();  // Prevents the outer div's click event
        var query = $('#myDataTable_filter input').val(); // Get the value from the search input
        $('#myDataTable').DataTable().search(query).draw(); // Trigger the DataTable search

    });
</script>